
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.daily-quiz2--MhK {
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 108rem;
  position: relative;

  .rectangle-16-Syf {
    position: absolute;
    left: 2rem;
    top: 2rem;
    background-color: #ffffff;
    width: 188rem;
    height: 104rem;
  }
  .rectangle-94-NMX {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 153.8rem;
    height: 78rem;
    position: absolute;
    left: 36.2rem;
    top: 26.7rem;
  }
  .rectangle-160-5mj {
    width: 16.4rem;
    position: absolute;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    height: 6.3rem;
    left: 171.9rem;
    top: 97.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .submit-attempt-bEH {
    left: 173.3rem;
    text-align: center;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 13.7rem;
    height: 2.2rem;
    position: absolute;
    top: 99.6rem;
    font-size: 1.8rem;
    line-height: 1.2125;
  }
  .rectangle-158-UYy {
    height: 6.3rem;
    position: absolute;
    left: 58.7rem;
    top: 97.5rem;
    box-sizing: border-box;
    width: 16.4rem;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .rectangle-159-BTP {
    box-sizing: border-box;
    left: 38.3rem;
    border: solid 0.1rem #000000;
    position: absolute;
    top: 97.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 16.4rem;
    height: 6.3rem;
  }
  .soal-selanjutnya-VU5 {
    line-height: 1.2125;
    white-space: nowrap;
    width: 14.7rem;
    height: 2.2rem;
    position: absolute;
    text-align: center;
    font-weight: 700;
    left: 59.55rem;
    top: 99.6rem;
    font-size: 1.8rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .soal-sebelumnya-akR {
    height: 2.2rem;
    left: 38.9rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 15.2rem;
    position: absolute;
    top: 99.7rem;
    text-align: center;
    line-height: 1.2125;
    color: #000000;
  }
  .rectangle-27-Heq {
    background-color: #ffffff;
    width: 153.9rem;
    height: 78rem;
    position: absolute;
    left: 36.1rem;
    top: 18.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .ellipse-128-QjT {
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
    left: 49.1rem;
    top: 46.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-129-Y4y {
    vertical-align: top;
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
    left: 49.1rem;
    top: 50.9rem;
    object-fit: contain;
  }
  .ellipse-130-GWm {
    height: 1.7rem;
    position: absolute;
    left: 49.1rem;
    top: 42.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
  }
  .lorem-ipsum-PLV {
    text-align: center;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
    width: 11.4rem;
    left: 49.55rem;
    top: 32.6rem;
    font-size: 1.8rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
  }
  .a-lorem-ipsum-b-lorem-ipsum-c-lorem-ipsum-d-lorem-ipsum-HRs {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 13.5rem;
    height: 8.8rem;
    left: 52.9rem;
    top: 37.3rem;
    line-height: 1.2125;
  }
  .ellipse-131-BGM {
    left: 49.1rem;
    top: 37.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
  }
  .group-1000002847-7vh {
    width: 32.6rem;
    flex-direction: column;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    padding: 1.1rem 1.3rem 1.1rem 1.4rem;
    left: 1.6rem;
    top: 35.2rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    height: 53rem;
    position: absolute;

    .auto-group-wg5q-n1F {
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;

      .auto-group-fyet-he1 {
        margin-right: 2.4rem;
        background-color: #ffffff;
        white-space: nowrap;
        display: flex;
        align-items: center;
        width: 4rem;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 700;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-1xab-y5j {
        width: 4rem;
        display: flex;
        flex-shrink: 0;
        background-color: #ffffff;
        margin-right: 2.5rem;
        color: #000000;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        box-sizing: border-box;
        height: 100%;
        text-align: center;
        font-weight: 700;
        line-height: 1.2125;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
      }
      .auto-group-vsjq-dg5 {
        height: 100%;
        line-height: 1.2125;
        display: flex;
        background-color: #ffffff;
        margin-right: 2.5rem;
        text-align: center;
        font-weight: 700;
        align-items: center;
        width: 4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #000000;
        color: #000000;
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        font-size: 1.8rem;
      }
      .auto-group-ss2f-v9P {
        width: 4rem;
        justify-content: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        height: 100%;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-sizing: border-box;
        margin-right: 2.5rem;
        line-height: 1.2125;
        background-color: #ffffff;
        font-weight: 700;
        display: flex;
        align-items: center;
      }
      .auto-group-mnbu-azd {
        text-align: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        line-height: 1.2125;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        width: 4rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        background-color: #ffffff;
      }
    }
    .auto-group-gtcf-U4R {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;

      .auto-group-jpvd-oMb {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 2.4rem;
        text-align: center;
        font-weight: 700;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        width: 4rem;
        font-size: 1.8rem;
        color: #000000;
        white-space: nowrap;
      }
      .auto-group-pj3h-HGm {
        flex-shrink: 0;
        color: #000000;
        white-space: nowrap;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        font-size: 1.8rem;
        font-weight: 700;
        box-sizing: border-box;
        width: 4rem;
        height: 100%;
        text-align: center;
        line-height: 1.2125;
        border: solid 0.1rem #000000;
        margin-right: 2.5rem;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
      }
      .auto-group-7gdr-mBw {
        border: solid 0.1rem #000000;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 2.5rem;
        width: 4rem;
        font-weight: 700;
        background-color: #ffffff;
        height: 100%;
        font-size: 1.8rem;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.2125;
        display: flex;
      }
      .auto-group-dd8f-SYy {
        font-weight: 700;
        white-space: nowrap;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        margin-right: 2.5rem;
        text-align: center;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        background-color: #ffffff;
        width: 4rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-obab-j2H {
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        text-align: center;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 4rem;
        height: 100%;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        line-height: 1.2125;
      }
    }
    .auto-group-spiw-QeD {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4rem;
      display: flex;

      .auto-group-wk3r-wPF {
        margin-right: 2.4rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        height: 100%;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        background-color: #ffffff;
        width: 4rem;
        font-weight: 700;
        display: flex;
        box-sizing: border-box;
        font-size: 1.8rem;
        justify-content: center;
      }
      .auto-group-fs83-29o {
        font-size: 1.8rem;
        box-sizing: border-box;
        margin-right: 2.5rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        background-color: #ffffff;
        font-weight: 700;
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        width: 4rem;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
      }
      .auto-group-7mrd-6QZ {
        height: 100%;
        white-space: nowrap;
        box-sizing: border-box;
        width: 4rem;
        font-size: 1.8rem;
        font-weight: 700;
        display: flex;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-tugx-aqX {
        font-size: 1.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        box-sizing: border-box;
        border: solid 0.1rem #000000;
        width: 4rem;
        text-align: center;
        font-weight: 700;
        display: flex;
        height: 100%;
        justify-content: center;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.5rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
      .auto-group-9ejo-spd {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        width: 4rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        color: #000000;
        display: flex;
        align-items: center;
      }
    }
    .auto-group-brb5-A33 {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.1rem;

      .auto-group-lrgo-tzd {
        width: 4rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        height: 4rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin: 0.1rem 2.4rem 0rem 0rem;
        text-align: center;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .auto-group-vyjk-MNR {
        width: 4rem;
        height: 4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0.1rem 2.5rem 0rem 0rem;
        font-weight: 700;
        line-height: 1.2125;
        justify-content: center;
        border: solid 0.1rem #000000;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        background-color: #ffffff;
      }
      .auto-group-zksy-R7P {
        margin-right: 2.5rem;
        height: 4rem;
        flex-shrink: 0;
        color: #000000;
        display: flex;
        justify-content: center;
        border: solid 0.1rem #000000;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        width: 4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        background-color: #ffffff;
      }
      .auto-group-ggcj-Vsw {
        line-height: 1.2125;
        align-items: center;
        font-size: 1.8rem;
        background-color: #ffffff;
        color: #000000;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 4rem;
        height: 4rem;
        text-align: center;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.5rem;
      }
      .auto-group-y33h-auP {
        width: 4rem;
        height: 4rem;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 1.2125;
        box-sizing: border-box;
        background-color: #ffffff;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000000;
      }
    }
    .auto-group-s6nf-sNh {
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 100%;

      .auto-group-tjdr-QdX {
        border: solid 0.1rem #000000;
        width: 4rem;
        text-align: center;
        font-size: 1.8rem;
        white-space: nowrap;
        display: flex;
        height: 100%;
        align-items: center;
        line-height: 1.2125;
        color: #000000;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 2.4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .auto-group-frxw-HSR {
        display: flex;
        margin-right: 2.5rem;
        font-weight: 700;
        color: #000000;
        border: solid 0.1rem #000000;
        text-align: center;
        height: 100%;
        font-size: 1.8rem;
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        width: 4rem;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        background-color: #ffffff;
        flex-shrink: 0;
        line-height: 1.2125;
      }
      .auto-group-jbhd-msP {
        margin-right: 2.5rem;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        width: 4rem;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 700;
        background-color: #ffffff;
        text-align: center;
        display: flex;
        justify-content: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
      .auto-group-s9p9-ewB {
        margin-right: 2.5rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2125;
        align-items: center;
        width: 4rem;
        color: #000000;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        font-weight: 700;
        white-space: nowrap;
      }
      .auto-group-fjww-Xzy {
        background-color: #ffffff;
        flex-shrink: 0;
        height: 100%;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 700;
        border: solid 0.1rem #000000;
        width: 4rem;
        font-size: 1.8rem;
        color: #000000;
        justify-content: center;
        box-sizing: border-box;
      }
    }
    .auto-group-dajf-pjB {
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-zabm-xqP {
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.4rem;
        height: 100%;
        text-align: center;
        border: solid 0.1rem #000000;
        white-space: nowrap;
        justify-content: center;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 4rem;
        font-size: 1.8rem;
        flex-shrink: 0;
      }
      .auto-group-bk4f-FpV {
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        width: 4rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        margin-right: 2.5rem;
        text-align: center;
        box-sizing: border-box;
        line-height: 1.2125;
      }
      .auto-group-ctwz-jzZ {
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        margin-right: 2.5rem;
        width: 4rem;
        height: 100%;
        text-align: center;
        font-weight: 700;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #000000;
      }
      .auto-group-n1y5-2im {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        margin-right: 2.5rem;
        width: 4rem;
        font-size: 1.8rem;
        font-weight: 700;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        color: #000000;
      }
      .auto-group-rnyj-VsF {
        height: 100%;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        width: 4rem;
        font-weight: 700;
        box-sizing: border-box;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        font-size: 1.8rem;
        justify-content: center;
        flex-shrink: 0;
      }
    }
    .auto-group-tpvx-ado {
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-zdsy-X3F {
        font-size: 1.8rem;
        line-height: 1.2125;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        height: 100%;
        text-align: center;
        font-weight: 700;
        color: #000000;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 4rem;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
      }
      .auto-group-knf5-1DK {
        margin-right: 2.5rem;
        text-align: center;
        justify-content: center;
        width: 4rem;
        height: 100%;
        white-space: nowrap;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
      }
      .auto-group-gjg7-gaM {
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000000;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        margin-right: 2.5rem;
      }
      .auto-group-htz1-B1K {
        background-color: #ffffff;
        flex-shrink: 0;
        white-space: nowrap;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        box-sizing: border-box;
        font-weight: 700;
        height: 100%;
        text-align: center;
        margin-right: 2.5rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
        border: solid 0.1rem #000000;
        width: 4rem;
      }
      .auto-group-h3b1-rt9 {
        color: #000000;
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        width: 4rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;
        display: flex;
        border: solid 0.1rem #000000;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 1.8rem;
      }
    }
    .auto-group-jvyo-ZGm {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.2rem;

      .auto-group-xxkp-gMP {
        box-sizing: border-box;
        flex-shrink: 0;
        justify-content: center;
        border: solid 0.1rem #000000;
        width: 4rem;
        text-align: center;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        height: 100%;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        margin-right: 2.4rem;
        white-space: nowrap;
        display: flex;
        background-color: #ffffff;
      }
      .auto-group-8gdh-ZRB {
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        box-sizing: border-box;
        background-color: #ffffff;
        height: 100%;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        margin-right: 2.5rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        width: 4rem;
        text-align: center;
      }
      .auto-group-q3tq-3r9 {
        margin-right: 2.5rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2125;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        height: 100%;
        display: flex;
        flex-shrink: 0;
        width: 4rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-xqjp-8sb {
        font-size: 1.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.5rem;
        width: 4rem;
        height: 100%;
        font-weight: 700;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        color: #000000;
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .auto-group-yzh5-E9w {
        white-space: nowrap;
        width: 4rem;
        justify-content: center;
        text-align: center;
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        flex-shrink: 0;
        font-weight: 700;
      }
    }
    .auto-group-odb9-vHf {
      margin-bottom: 1.2rem;
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-d5oq-eDf {
        box-sizing: border-box;
        width: 4rem;
        text-align: center;
        line-height: 1.2125;
        justify-content: center;
        font-weight: 700;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        margin-right: 2.4rem;
        font-size: 1.8rem;
        color: #000000;
        flex-shrink: 0;
      }
      .auto-group-hrsh-vgy {
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.2125;
        display: flex;
        justify-content: center;
        height: 100%;
        color: #000000;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        margin-right: 2.5rem;
        width: 4rem;
      }
      .auto-group-knbm-Qs3 {
        justify-content: center;
        width: 4rem;
        height: 100%;
        display: flex;
        font-weight: 700;
        white-space: nowrap;
        margin-right: 2.5rem;
        text-align: center;
        font-size: 1.8rem;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        color: #000000;
        align-items: center;
        border: solid 0.1rem #000000;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-mwuf-uJ1 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        border: solid 0.1rem #000000;
        width: 4rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        background-color: #ffffff;
        margin-right: 2.5rem;
        color: #000000;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        box-sizing: border-box;
      }
      .auto-group-b6ct-NxH {
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        height: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 4rem;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        font-size: 1.8rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
      }
    }
    .auto-group-vwd5-GXs {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ypzs-CwK {
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        background-color: #ffffff;
        height: 100%;
        text-align: center;
        line-height: 1.2125;
        display: flex;
        border: solid 0.1rem #000000;
        width: 4rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        margin-right: 2.4rem;
        font-size: 1.8rem;
        font-weight: 700;
        box-sizing: border-box;
      }
      .auto-group-ck4j-VvR {
        border: solid 0.1rem #000000;
        width: 4rem;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        margin-right: 2.5rem;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #000000;
      }
      .auto-group-1tgj-bCm {
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        margin-right: 2.5rem;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 700;
        border: solid 0.1rem #000000;
        width: 4rem;
        justify-content: center;
        flex-shrink: 0;
        color: #000000;
        align-items: center;
        box-sizing: border-box;
        background-color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-kqm5-5dj {
        width: 4rem;
        justify-content: center;
        background-color: #ffffff;
        flex-shrink: 0;
        align-items: center;
        box-sizing: border-box;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        margin-right: 2.5rem;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        text-align: center;
        color: #000000;
      }
      .auto-group-pbvj-ZYu {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 4rem;
        height: 100%;
        color: #000000;
        justify-content: center;
        background-color: #ffffff;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
  }
  .header-EQ9 {
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;
    display: flex;
    align-items: center;

    .logo-Yfj {
      margin: 0rem 3.3rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-clean-1-48H {
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .study-smart-BTo {
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
      }
    }
    .home-hS9 {
      font-size: 1.8rem;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.8rem 2.3rem 0rem;
      cursor: pointer;
      font-weight: 500;
      line-height: 1.21;
      color: #000000;
      flex-shrink: 0;
    }
    .belajar-ok5 {
      font-weight: 400;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.95rem 2.4rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
    }
    .latihan-uo7 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.21;
      color: #545ae8;
      cursor: pointer;
      flex-shrink: 0;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 4.15rem 2.1rem 0rem;
    }
    .chat-2cq {
      margin: 0rem 4.2rem 2.1rem 0rem;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      line-height: 1.21;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .blog-YbB {
      margin: 0rem 110.6rem 2.1rem 0rem;
      cursor: pointer;
      display: flex;
      font-size: 1.8rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .sign-out-4ZX {
      border-radius: 25.7rem;
      flex-shrink: 0;
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;
      position: relative;

      .utbk-oGD {
        width: 7rem;
        height: 2.2rem;
        left: 3.15rem;
        top: 1.3rem;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        position: absolute;
        font-size: 1.8rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-1000002805-721 {
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 25.7rem;

        .rectangle-140-e1w {
          height: 4.8rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
          width: 12rem;
        }
        .log-out-FXX {
          position: absolute;
          left: 3.7rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.21;
          color: #ffffff;
          width: 5.8rem;
          height: 2.2rem;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          top: 1.2rem;
          text-align: center;
        }
      }
    }
  }
}
