
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.home2-chF {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  align-items: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 2rem;

  .auto-group-goxp-MPw {
    display: flex;
    align-items: center;
    box-shadow: 0 0.4rem 9.5rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.5rem 11.5rem 2.4rem 11.9rem;
    width: 100%;

    .logo-4p9 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.2rem 6.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;

      .logo-clean-1-NZw {
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .study-smart-WAM {
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .home-pB3 {
      flex-shrink: 0;
      margin: 0rem 4.5rem 7.5rem 0rem;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.21;
      color: #545ae8;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .program-belajar-Lv5 {
      margin: 0rem 57.5rem 7.5rem 0rem;
      font-size: 1.8rem;
      line-height: 1.21;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 400;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .search-bar-rtR {
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      border-radius: 4.5rem;
      flex-shrink: 0;
      margin: 8.3rem 3.4rem 0rem 0rem;
      box-sizing: border-box;
      padding: 0.3rem 0.9rem 0.279rem 0.9rem;
      width: 50rem;

      .icon-search-outline-a3j {
        object-fit: contain;
        vertical-align: top;
        margin-right: 43.7rem;
        width: 4.5rem;
        height: 4.2212rem;
      }
    }
    .group-1000002805-s2q {
      width: 18rem;
      height: 4.8rem;
      background-color: #545ae8;
      font-weight: 400;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      margin-top: 7.7rem;
      font-size: 1.8rem;
      display: flex;
      border-radius: 25.7rem;
      cursor: pointer;
      line-height: 1.21;
      color: #ffffff;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .auto-group-j1hm-hGm {
    height: 97.8rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-168-dw7 {
      width: 192rem;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3000000119);
      background-repeat: no-repeat;
      height: 84.4rem;
      left: 0;
      top: 0;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:d110dc343a733a8890114570a2adf871fbbd5a9d');
    }
    .take-student-experience-to-the-next-level-wgu {
      font-size: 5.6rem;
      font-weight: 600;
      line-height: 1.1071428571;
      color: #ffffff;
      font-family: Libre Franklin, 'Source Sans Pro';
      height: 12.4rem;
      top: 24.5rem;
      text-align: center;
      width: 72.2rem;
      position: absolute;
      left: 59.85rem;
    }
    .beragam-fitur-dan-konten-yang-dirancang-untuk-memaksimalkan-kemampuan-belajar-pengguna-dan-meningkatkan-peluang-sukses-mereka-dalam-ujian-masuk-perguruan-tinggi-Rc5 {
      width: 82.9rem;
      height: 5.2rem;
      top: 39.9rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      position: absolute;
      left: 54.5rem;
      line-height: 1.4444444444;
      color: #ffffff;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .check-our-editions-to-suit-your-needs-GMo {
      top: 91.5rem;
      font-size: 6rem;
      font-weight: 500;
      color: #3c3c3c;
      width: 92.5rem;
      height: 6.3rem;
      left: 49.75rem;
      font-family: Libre Caslon Text, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      text-align: center;
      line-height: 1.0333333333;
    }
  }
  .auto-group-uwmm-9wP {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 6.4rem;
    width: 100%;

    .paket-belajar-VVT {
      height: 38rem;
      position: relative;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0rem 2.1rem 4.9rem 1.9rem;
      width: calc(100% - 4rem);

      .rectangle-60-bYV {
        position: absolute;
        left: 0;
        top: 0.4rem;
        background-color: #d9d9d9;
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
      }
      .rectangle-61-82d {
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-62-rUR {
        vertical-align: top;
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
        position: absolute;
        left: 38rem;
        top: 0.4rem;
        object-fit: cover;
      }
      .rectangle-63-Bmb {
        position: absolute;
        left: 76rem;
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
      }
      .rectangle-64-iWd {
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
        position: absolute;
        left: 114rem;
      }
      .rectangle-65-ShX {
        position: absolute;
        left: 152rem;
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 3rem;
        width: 36rem;
        height: 37.6rem;
      }
      .ultimate-ZXF {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 12.1rem;
        left: 163.95rem;
        font-weight: 500;
        text-align: center;
        font-size: 3rem;
        color: #000000;
        white-space: nowrap;
        height: 3.7rem;
        position: absolute;
        top: 18rem;
      }
      .hemat-Tcd {
        top: 17.1rem;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2125;
        width: 9.5rem;
        position: absolute;
        left: 12.6rem;
        text-align: center;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.7rem;
      }
      .platinum-mdK {
        height: 3.7rem;
        position: absolute;
        left: 125.8rem;
        font-family: Inter, 'Source Sans Pro';
        width: 12.5rem;
        top: 18rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .gold-4cR {
        left: 90.7rem;
        text-align: center;
        font-size: 3rem;
        color: #000000;
        white-space: nowrap;
        width: 6.7rem;
        position: absolute;
        top: 17.8rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 3.7rem;
      }
      .standard-Nd7 {
        color: #000000;
        white-space: nowrap;
        width: 13.2rem;
        height: 3.7rem;
        left: 49.4rem;
        text-align: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 17.5rem;
        font-size: 3rem;
        font-weight: 500;
      }
    }
    .group-1000002832-51j {
      width: calc(100% - 0.2rem);
      align-items: center;
      background-color: #545ae8;
      flex-shrink: 0;
      margin: 0rem 0.2rem 4.6rem 0rem;
      box-sizing: border-box;
      padding: 5rem 18.6rem 5rem 15rem;
      display: flex;
      flex-direction: column;

      .how-it-works-ZSh {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5rem 3.5rem;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.1;
        color: #ffffff;
        font-family: Libre Franklin, 'Source Sans Pro';
      }
      .auto-group-r7wh-Gru {
        flex-shrink: 0;
        margin: 0rem 25.4rem 2rem 0rem;
        height: 10rem;
        display: flex;
        column-gap: 31rem;
        align-items: center;

        .group-1000002833-asb {
          box-sizing: border-box;
          padding: 3.4rem 3.6rem;
          height: 100%;
          border: solid 0.05rem #ffffff;
          border-radius: 5rem;
          flex-shrink: 0;

          .add-user-1-traced-8PK {
            width: 2.8rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-1000002834-Ex9 {
          border: solid 0.05rem #ffffff;
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.6rem 3.4rem 3.3rem 3.3rem;
          height: 100%;

          .monitor-1-traced-NoT {
            width: 3.3rem;
            height: 3.1rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-1000002835-HvR {
          border-radius: 5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.4rem 3.9rem 3.3rem 3.9rem;
          height: 100%;
          border: solid 0.05rem #ffffff;

          .question-2-traced-S2d {
            width: 2.2rem;
            height: 3.3rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-1000002836-9Sq {
          box-sizing: border-box;
          padding: 3.3rem 3.7rem 3.4rem 3.7rem;
          height: 100%;
          border: solid 0.05rem #ffffff;
          border-radius: 5rem;
          flex-shrink: 0;

          .notepad-1-traced-ghf {
            width: 2.6rem;
            height: 3.3rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-hmfz-QNm {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 23.4rem 0.6rem 0rem;
        display: flex;

        .sign-up-LGR {
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 32.2rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.25;
        }
        .get-access-sXF {
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 28.4rem;
          font-size: 2.4rem;
        }
        .practice-questions-Qn5 {
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 19.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
        }
        .get-result-Lvd {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.25;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-xflw-GZP {
        margin-bottom: 3.3rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .montes-vivamus-curae-quisque-et-primis-pretium-nullam-congue-dis-convallis-eget-ipsum-cubilia-ante-opD {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4444444444;
          color: #d9d9d9;
          font-family: Libre Franklin, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 6.5rem;
          max-width: 34.5rem;
        }
        .access-to-question-bank-of-over-2000-questions-VS9 {
          flex-shrink: 0;
          margin: 0.2rem 9.2rem 0rem 0rem;
          max-width: 31.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4444444444;
          color: #d9d9d9;
          font-family: Libre Franklin, 'Source Sans Pro';
        }
        .prepare-for-the-mla-exam-in-multiple-modes-of-revision-and-track-your-progress-with-your-personalised-dashboard-aTb {
          font-family: Libre Franklin, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 1.6rem;
          max-width: 39.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4444444444;
          color: #d9d9d9;
        }
        .compare-your-results-with-your-peers-with-advanced-analytics-sBo {
          max-width: 35.4rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4444444444;
          color: #d9d9d9;
          font-family: Libre Franklin, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-1000002806-ac1 {
        width: calc(100% - 140.1rem);
        font-size: 1.8rem;
        font-family: Libre Franklin, 'Source Sans Pro';
        border-radius: 25.7rem;
        white-space: nowrap;
        display: flex;
        margin: 0rem 68.3rem 0rem 71.8rem;
        cursor: pointer;
        line-height: 1.21;
        color: #ffffff;
        font-weight: 500;
        box-sizing: border-box;
        box-shadow: 0 0.6rem 1.7rem rgba(84, 90, 232, 0.25);
        flex-shrink: 0;
        height: 5.6rem;
        align-items: center;
        justify-content: center;
        border: solid 0.2rem #ffffff;
      }
    }
    .testimoni-alumni-mAh {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 7.599rem 3.8rem 7.3rem;
      width: calc(100% - 14.8987rem);
      align-items: center;

      .auto-group-ewby-H93 {
        height: 28.3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.001rem 1rem 0rem;
        width: calc(100% - 0.0013rem);

        .testi-alumni-1-yXf {
          margin-right: 1.886rem;
          width: 87.5127rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-31-hyT {
            width: 87.5127rem;
            background-color: #ffffff;
            border-radius: 1.5rem;
            height: 28.0959rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .user-profile-cqX {
            width: 87.5127rem;
            height: 8.1rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #545ae8;
            left: 0;
            top: 20.2rem;
            border: solid 0.1rem #000000;
            border-radius: 0 0 1.5rem 1.5rem;
          }
          .ahmad-sutego-stei-institut-teknologi-bandung-7nH {
            font-family: Inter, 'Source Sans Pro';
            width: 28rem;
            font-weight: 400;
            left: 4.2313rem;
            top: 21.774rem;
            font-size: 2.4rem;
            line-height: 1.2102272511;
            color: #ffffff;
            height: 5.1rem;
            position: absolute;

            .ahmad-sutego-stei-institut-teknologi-bandung-7nH-sub-0 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.21;
              color: #ffffff;
              font-family: Libre Franklin, 'Source Sans Pro';
            }
            .ahmad-sutego-stei-institut-teknologi-bandung-7nH-sub-1 {
              color: #ffffff;
              font-family: Libre Franklin, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.21;
            }
          }
          .materi-pembelajaran-yang-disajikan-dengan-baik-dan-bantuan-konseling-yang-tersedia-membantu-saya-mengatasi-setiap-tantangan-saya-sangat-puas-dengan-hasilnya-VAZ {
            left: 4.6209rem;
            top: 5rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.21;
            color: #000000;
            width: 68.6rem;
            position: absolute;
            font-family: Libre Franklin, 'Source Sans Pro';
            height: 8.8rem;
          }
        }
        .testi-alumni-3-ip1 {
          background-color: #ffffff;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: solid 0.1rem #000000;
          padding-top: 4.3855rem;
          width: 87.7013rem;
          height: 100%;

          .study-smart-telah-membuktikan-nilainya-dalam-perjalanan-saya-masuk-ptn-materi-pembelajaran-yang-disajikan-dengan-baik-dan-bantuan-konseling-yang-tersedia-membantu-saya-mengatasi-setiap-tantangan-fDT {
            max-width: 73.9rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.21;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 1.851rem 4.115rem 0rem;
          }
          .auto-group-ff7y-VTP {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.74rem 4.241rem 1.26rem 4.241rem;
            width: 100%;
            border: solid 0.1rem #000000;
            background-color: #545ae8;
            border-radius: 0 0 1.5rem 1.5rem;

            .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-2CR {
              font-weight: 400;
              line-height: 1.2102272511;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              max-width: 35.9rem;
              font-size: 2.4rem;

              .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-2CR-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
              .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-2CR-sub-1 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .auto-group-fy8f-GW5 {
        width: 100%;
        height: 28.3rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .testi-alumni-2-cpq {
          margin-right: 1.8873rem;
          box-sizing: border-box;
          width: 87.5127rem;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 1.5rem;
          padding-top: 4.7966rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;

          .materi-yang-berkualitas-dan-simulasi-ujian-yang-realistis-benar-benar-mempersiapkan-saya-dengan-baik-terima-kasih-study-smart-LVw {
            font-family: Libre Franklin, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 7.357rem 5.903rem 0rem;
            max-width: 69rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.21;
            color: #000000;
          }
          .auto-group-vbfq-bgm {
            box-sizing: border-box;
            padding: 2.14rem 3.948rem 1.56rem 3.948rem;
            width: 100%;
            border: solid 0.1rem #000000;
            background-color: #545ae8;
            border-radius: 0 0 1.5rem 1.5rem;
            flex-shrink: 0;

            .salma-nur-prima-teknik-informatika-universitas-padjadjaran-8gh {
              font-family: Inter, 'Source Sans Pro';
              max-width: 36.7rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #ffffff;

              .salma-nur-prima-teknik-informatika-universitas-padjadjaran-8gh-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
              .salma-nur-prima-teknik-informatika-universitas-padjadjaran-8gh-sub-1 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
            }
          }
        }
        .testi-alumni-4-PW9 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 4.4rem;
          width: 87.7013rem;
          height: 100%;
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          align-items: center;
          display: flex;
          border-radius: 1.5rem;

          .materi-berkualitas-try-out-yang-mirip-dengan-ujian-sebenarnya-pemantauan-kemajuan-dan-dukungan-konseling-telah-membuat-persiapan-saya-lebih-efisien-dan-efektif-fleksibilitas-belajar-juga-sangat-membantu-XsF {
            max-width: 70.9rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.21;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 4.919rem 3.2rem 0rem;
          }
          .auto-group-gh4f-mFo {
            width: 100%;
            border: solid 0.1rem #000000;
            background-color: #545ae8;
            border-radius: 0 0 1.5rem 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.177rem 4.15rem 1.723rem 4.15rem;

            .bambang-sugeni-ilmu-politik-universitas-indonesia-JFj {
              line-height: 1.2102272511;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              max-width: 28.7rem;
              font-size: 2.4rem;
              font-weight: 400;

              .bambang-sugeni-ilmu-politik-universitas-indonesia-JFj-sub-0 {
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
              }
              .bambang-sugeni-ilmu-politik-universitas-indonesia-JFj-sub-1 {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .group-1000002831-YpH {
      display: flex;
      margin-left: 0.1rem;
      box-sizing: border-box;
      width: 191.9rem;
      background-color: #545ae8;
      flex-shrink: 0;
      padding-top: 3.8rem;
      align-items: center;
      flex-direction: column;

      .auto-group-4vzp-Uhw {
        width: calc(100% - 29.3rem);
        height: 27.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.6rem 5rem 14.7rem;

        .group-1000002830-zAV {
          width: 39.4rem;
          height: 100%;
          flex-shrink: 0;

          .group-1000002829-jds {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .logo-tWm {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 19.3rem 0.9rem 0rem;
              box-sizing: border-box;
              padding: 0.621rem 0rem 0.451rem 0.3rem;
              width: calc(100% - 19.3rem);

              .auto-group-p6jx-ns3 {
                width: 5.6rem;
                height: 5.4286rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.8rem;
              }
              .study-smart-viM {
                font-weight: 700;
                line-height: 1.21;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.23rem;
                font-size: 2.2rem;
              }
            }
            .dengan-kombinasi-konten-berkualitas-tinggi-alat-pengukuran-kemajuan-dan-dukungan-konseling-platform-ini-merupakan-mitra-belajar-yang-kuat-bagi-mereka-yang-bercita-cita-masuk-perguruan-tinggi-dengan-sukses-Fkd {
              max-width: 39.1rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.6666666667;
              color: #d9d9d9;
              font-family: Libre Franklin, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.3rem;
            }
          }
          .group-477-u4V {
            margin-left: 0.3rem;
            display: flex;
            align-items: center;

            .vector-3Rb {
              width: 1.5579rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 3.3421rem;
            }
            .x-twitter-BXo {
              margin: 0rem 3.3rem 0.101rem 0rem;
              width: 2.8rem;
              height: 2.8985rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .instagram-5-1-Haq {
              margin-bottom: 0.0021rem;
              width: 2.8051rem;
              height: 2.7979rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-occk-op5 {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 0rem 2rem 12.3rem;
          height: 100%;

          .group-1000002822-w9b {
            margin-right: 12.4rem;
            width: 13.5rem;
            flex-shrink: 0;

            .my-account-gN5 {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Libre Franklin, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2rem;
            }
            .group-1000002821-1v9 {
              width: 100%;
              row-gap: 0.6rem;
              display: flex;
              flex-direction: column;

              .sign-in-ksj {
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .monitor-progress-VaR {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .compare-success-Cjj {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .my-topics-uu3 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
            }
          }
          .group-1000002824-R6h {
            margin-right: 12.4rem;
            width: 16.2rem;
            flex-shrink: 0;

            .about-ss-ZTo {
              font-family: Libre Franklin, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
            }
            .group-1000002823-hK7 {
              display: flex;
              flex-direction: column;
              width: 100%;
              row-gap: 0.6rem;

              .company-information-puX {
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
              }
              .resources-y1j {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .our-success-WGZ {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .meet-the-experts-3nH {
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #d9d9d9;
              }
            }
          }
          .group-1000002825-anD {
            flex-shrink: 0;
            margin-right: 12.6rem;
            display: flex;
            flex-direction: column;

            .support-8oj {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.5;
              color: #ffffff;
              font-family: Libre Franklin, 'Source Sans Pro';
            }
            .contact-us-fof {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.625;
              color: #d9d9d9;
              font-family: Libre Franklin, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-1000002828-DaH {
            flex-direction: column;
            flex-shrink: 0;
            width: 35.5rem;
            align-items: center;
            display: flex;

            .auto-group-7jnf-a9w {
              box-sizing: border-box;
              padding-bottom: 3.6rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .artikel-8BT {
                line-height: 1.5;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.4rem;
                font-size: 2rem;
                font-weight: 500;
              }
              .dapatkah-informasi-terbaru-terkait-utbk-dan-beasiswa-s93 {
                color: #d9d9d9;
                font-family: Libre Franklin, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 20.4rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
              }
            }
            .group-1000002827-xgH {
              background-color: #ffffff;
              border-radius: 7.5rem;
              padding: 0.4rem 0.6rem 0.4rem 2rem;
              align-items: center;
              height: 5rem;
              display: flex;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 100%;

              .email-address-sHT {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 8.6rem 0.2rem 0rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.625;
                color: #a7a7a7;
                font-family: Libre Franklin, 'Source Sans Pro';
              }
              .group-1000002826-yrH {
                font-size: 1.6rem;
                font-weight: 400;
                flex-shrink: 0;
                line-height: 1.21;
                height: 100%;
                align-items: center;
                justify-content: center;
                background-color: #545ae8;
                border-radius: 28.2rem;
                width: 13.9rem;
                color: #ffffff;
                font-family: Libre Franklin, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                box-shadow: 0 0.6rem 1.7rem rgba(84, 90, 232, 0.25);
              }
            }
          }
        }
      }
      .auto-group-zhnk-BhT {
        height: 5rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .created-with-love-by-thecreationdesign-KYm {
          top: 1.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.625;
          color: #ffffff;
          position: absolute;
          left: 147.7rem;
          text-align: right;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          width: 29.4rem;
          height: 2.6rem;
        }
        .rectangle-166-D8M {
          top: 0;
          background-color: rgba(255, 255, 255, 0.3000000119);
          opacity: 0.3;
          width: 191.9rem;
          height: 5rem;
          position: absolute;
          left: 0;
        }
        .copyright-all-rights-researved-LCy {
          width: 30.3rem;
          height: 2.6rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          left: 15rem;
          top: 1.2rem;
          line-height: 1.625;
          white-space: nowrap;
        }
        .rectangle-222-dC5 {
          height: 2.8rem;
          position: absolute;
          left: 146.2rem;
          top: 1.4rem;
          background-color: #878bef;
          width: 35.5rem;
        }
      }
    }
  }
}
