
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.info-utbk-dSq {
  position: relative;
  overflow: hidden;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 108rem;

  .rectangle-16-9vy {
    height: 104rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    background-color: #ffffff;
    width: 188rem;
  }
  .info-utbk-3-gR7 {
    top: 49.8rem;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    width: 430.6rem;
    height: 58.2rem;
    position: absolute;
    left: 2rem;

    .auto-group-lhvs-bY5 {
      column-gap: 20.4rem;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 4.5rem 0rem 0rem;
      width: 254.7rem;
      height: 100%;
      display: flex;

      .group-1000002748-6jj {
        margin-top: 0.8rem;
        width: 69.8rem;
        height: 66.8rem;
        box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .group-1000002634-dzZ {
          flex-direction: column;
          border: solid 0 #e6e6e6;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .rectangle-245-mqs {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 69.8rem;
            height: 32.6rem;
          }
          .auto-group-anwf-iFK {
            box-sizing: border-box;
            padding: 5.5rem 4.3rem 12.4rem 4rem;
            width: 100%;
            height: 34.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .inilah-amadeo-peraih-nilai-utbk-tertinggi-2023-yang-sempat-gagal-snbp-Dhs {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 0.6rem 7.5rem 0rem;
              max-width: 60.9rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #221e1e;
            }
            .https-wwwdetikcom-edu-edutainment-d-6868356-inilah-amadeo-peraih-nilai-utbk-tertinggi-2023-yang-sempat-gagal-snbp-Uth {
              margin-left: 0.1rem;
              text-align: center;
              text-transform: capitalize;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 61.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-decoration-line: underline;
            }
          }
        }
      }
      .group-1000002749-VJ1 {
        margin-top: 0.8rem;
        width: 69.8rem;
        height: 66.8rem;
        box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .group-1000002634-q6y {
          flex-direction: column;
          border: solid 0 #e6e6e6;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .auto-group-x3wy-BRj {
            width: 100%;
            background-color: #e5e5e5;
            flex-shrink: 0;

            .rectangle-50-wA1 {
              vertical-align: top;
              width: 69.8rem;
              height: 32.6rem;
              object-fit: cover;
            }
          }
          .auto-group-1qxd-Gi5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.1rem 4.2rem 12.4rem 4rem;
            width: 100%;
            height: 34.2rem;
            align-items: center;

            .jalur-mandiri-nilai-utbk-unja-masih-dibuka-bisa-dari-snbt-smm-ptn-barat-oCD {
              line-height: 1.2125;
              color: #221e1e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 2.4rem 7.9rem 0rem;
              max-width: 59.2rem;
              font-size: 2rem;
              font-weight: 600;
            }
            .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-H7P {
              text-align: center;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 61.6rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-transform: capitalize;
              text-decoration-line: underline;
              color: #000000;
            }
          }
        }
      }
      .group-1000002750-VDT {
        width: 69.8rem;
        height: 66.8rem;
        box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .group-1000002634-Rso {
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border: solid 0 #e6e6e6;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 100%;

          .auto-group-bnmq-yeR {
            box-sizing: border-box;
            padding-left: 0.2rem;
            width: 100%;
            background-color: #e5e5e5;
            flex-shrink: 0;

            .rectangle-51-KyB {
              width: 69.6rem;
              height: 32.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-t8gb-f1T {
            box-sizing: border-box;
            padding: 5.1rem 4.55rem 12.4rem 4rem;
            width: 100%;
            height: 34.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .heboh-ratusan-calon-mahasiswa-ub-diberitakan-mundur-ternyata-karena-hal-ini-NgZ {
              color: #221e1e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 4.75rem 7.9rem 0rem;
              max-width: 56.5rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
            }
            .https-wwwdetikcom-edu-perguruan-tinggi-d-6842420-heboh-ratusan-calon-mahasiswa-ub-diberitakan-mundur-ternyata-karena-hal-ini-FkM {
              font-family: Inter, 'Source Sans Pro';
              margin-left: 0.55rem;
              max-width: 60.7rem;
              font-weight: 400;
              text-transform: capitalize;
              color: #000000;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              line-height: 1.2125;
              text-decoration-line: underline;
            }
          }
        }
      }
    }
    .auto-group-ass9-GfT {
      width: 185.55rem;
      height: 68.4rem;
      position: relative;
      flex-shrink: 0;

      .group-1000002751-1sw {
        height: 66.8rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
        width: 101.6rem;

        .group-1000002634-LQR {
          width: 100%;
          height: 100%;
          position: relative;

          .rectangle-34-HKf {
            border: solid 0 #e6e6e6;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 69.8rem;
            height: 66.8rem;
            position: absolute;
            left: 15.9rem;
            top: 0;
          }
          .https-wwwdetikcom-edu-perguruan-tinggi-d-6817912-snbt-adalah-seleksi-nasional-berbasis-tes-simak-tujuan-dan-cara-daftarnya-ooo {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-size: 1.6rem;
            text-decoration-line: underline;
            text-align: center;
            line-height: 1.2125;
            text-transform: capitalize;
            left: 0;
            font-weight: 400;
            width: 101.6rem;
            height: 2rem;
            top: 50.5rem;
          }
          .rectangle-35-dnq {
            width: 69.8rem;
            height: 32.6rem;
            position: absolute;
            left: 15.9rem;
            top: 0;
            background-color: #e5e5e5;
          }
          .rectangle-52-NkR {
            height: 32.6rem;
            position: absolute;
            left: 15.9rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 69.8rem;
          }
          .snbt-adalah-seleksi-nasional-berbasis-tes-simak-tujuan-dan-cara-daftarnya-uVT {
            font-weight: 600;
            color: #221e1e;
            left: 19.9rem;
            top: 37.7rem;
            position: absolute;
            font-size: 2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 77.2rem;
            height: 2.5rem;
          }
        }
      }
      .group-1000002752-9ub {
        left: 96.45rem;
        top: 1.6rem;
        box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
        width: 89.1rem;
        height: 66.8rem;
        position: absolute;

        .group-1000002634-g8q {
          width: 100%;
          height: 100%;
          position: relative;

          .rectangle-34-Rs7 {
            width: 69.8rem;
            height: 66.8rem;
            position: absolute;
            left: 9.65rem;
            top: 0;
            border: solid 0 #e6e6e6;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-N1f {
            white-space: nowrap;
            position: absolute;
            text-align: center;
            line-height: 1.2125;
            text-decoration-line: underline;
            height: 2rem;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            left: 0;
            text-transform: capitalize;
            color: #000000;
            width: 89.1rem;
            top: 50.5rem;
            font-weight: 400;
          }
          .rectangle-35-Dny {
            position: absolute;
            left: 9.65rem;
            top: 0;
            background-color: #e5e5e5;
            width: 69.8rem;
            height: 32.6rem;
          }
          .rectangle-54-ACR {
            position: absolute;
            left: 9.65rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 69.8rem;
            height: 32.6rem;
          }
          .beasiswa-s1-dari-lps-ada-bantuan-rp-15-juta-per-bulan-VkV {
            width: 56.1rem;
            top: 37.7rem;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.5rem;
            position: absolute;
            left: 13.65rem;
            font-size: 2rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .header-MXo {
    left: 8.1rem;
    top: 3rem;
    display: flex;
    align-items: center;
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;

    .logo-g4H {
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 2.6rem 0rem;

      .logo-clean-1-Bmj {
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .study-smart-7vH {
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
      }
    }
    .home-2XT {
      margin: 0rem 3.8rem 2.3rem 0rem;
      font-size: 1.8rem;
      line-height: 1.21;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 500;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .belajar-Lo3 {
      cursor: pointer;
      line-height: 1.21;
      color: #000000;
      white-space: nowrap;
      font-weight: 400;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.95rem 2.4rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
    }
    .latihan-Ff7 {
      justify-content: center;
      font-weight: 400;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.8rem;
      line-height: 1.21;
      color: #000000;
      white-space: nowrap;
      margin: 0rem 4.15rem 2.1rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    .chat-krm {
      margin: 0rem 4.2rem 2.1rem 0rem;
      cursor: pointer;
      align-items: center;
      line-height: 1.21;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .blog-sgV {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 110.6rem 2.1rem 0rem;
      cursor: pointer;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      color: #545ae8;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .sign-out-o4M {
      position: relative;
      border-radius: 25.7rem;
      flex-shrink: 0;
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;

      .utbk-vem {
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 7rem;
        left: 3.15rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        height: 2.2rem;
        position: absolute;
        top: 1.3rem;
      }
      .group-1000002805-dp5 {
        border-radius: 25.7rem;
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-140-B4u {
          width: 12rem;
          height: 4.8rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
        }
        .log-out-gGZ {
          text-align: center;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          width: 5.8rem;
          position: absolute;
          left: 3.7rem;
          top: 1.2rem;
          height: 2.2rem;
          font-weight: 400;
          line-height: 1.21;
          white-space: nowrap;
        }
      }
    }
  }
  .rectangle-55-MtV {
    width: 188rem;
    height: 27.5rem;
    position: absolute;
    left: 2rem;
    top: 16.8rem;
    object-fit: cover;
    vertical-align: top;
  }
}
