
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.live-class--gbK {
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 108rem;

  .frame-20-oA9 {
    position: absolute;
    left: 19.3rem;
    top: 18.8rem;
    overflow: hidden;
    width: 147.2rem;
    height: 137.3186rem;

    .auto-group-kkmm-uU5 {
      margin: 0rem 0rem 2.597rem 0.4rem;
      height: 43.8748rem;
      display: flex;
      align-items: center;

      .group-1000002634-BAh {
        width: 46.8687rem;
        height: 100%;
        flex-shrink: 0;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        margin-right: 2.3626rem;
        align-items: center;
        display: flex;

        .rectangle-35-Gxq {
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-bnjd-oSy {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.227rem 2.5rem 3.775rem 2.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .membedah-soal-snbt-2022-8EM {
            flex-shrink: 0;
            margin: 0rem 0rem 0.7rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.21;
            color: #221e1e;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
          }
          .dinda-kemampuan-penalaran-umum-pN5 {
            margin: 0rem 0rem 2.1rem 0.1rem;
            font-size: 1.4rem;
            line-height: 1.21;
            text-transform: capitalize;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
          }
          .nov-10-30-1-jam-30-menit-HmT {
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.21;
            text-transform: capitalize;
          }
        }
      }
      .group-1000002635-wr1 {
        margin-right: 3.8313rem;
        width: 46.8688rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-34-HQ5 {
          width: 46.8687rem;
          height: 43.8748rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #e6e6e6;
          box-sizing: border-box;
          background-color: #ffffff;
        }
        .nov-10-30-1-jam-30-menit-pQ1 {
          height: 2rem;
          top: 38.1rem;
          font-weight: 400;
          white-space: nowrap;
          text-transform: capitalize;
          color: #000000;
          font-family: Libre Franklin, 'Source Sans Pro';
          width: 23.7rem;
          position: absolute;
          left: 2.8688rem;
          font-size: 1.6rem;
          line-height: 1.21;
        }
        .rectangle-35-6sK {
          width: 46.1rem;
          height: 27.9rem;
          position: absolute;
          left: 0.7688rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .membedah-soal-snbt-2023-Rub {
          white-space: nowrap;
          width: 27rem;
          left: 2.8688rem;
          line-height: 1.21;
          color: #221e1e;
          font-family: Libre Franklin, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          top: 31.1rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .imron-pengetahuan-dan-pemahaman-umum-Xxd {
          left: 2.8688rem;
          line-height: 1.21;
          font-family: Libre Franklin, 'Source Sans Pro';
          color: #000000;
          width: 30.2rem;
          height: 1.7rem;
          position: absolute;
          top: 34.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          text-transform: capitalize;
          white-space: nowrap;
        }
      }
      .group-1000002636-DaZ {
        width: 46.8687rem;
        height: 100%;
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        background-color: #ffffff;
        flex-shrink: 0;

        .rectangle-35-ZeR {
          vertical-align: top;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
        }
        .auto-group-su7h-uTP {
          box-sizing: border-box;
          padding: 3.227rem 2.169rem 3.775rem 2.169rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .perkenalan-metode-bayes-qM3 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.21;
            color: #221e1e;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
          }
          .idham-matematika-xwT {
            text-transform: capitalize;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.21;
            margin-bottom: 2.1rem;
            white-space: nowrap;
          }
          .nov-09-30-1-jam-30-menit-625 {
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.21;
            text-transform: capitalize;
            color: #000000;
          }
        }
      }
    }
    .auto-group-cadr-ahw {
      margin-bottom: 3.0971rem;
      height: 43.8748rem;
      display: flex;
      align-items: center;

      .group-1000002634-WLh {
        flex-direction: column;
        background-color: #ffffff;
        width: 46.8687rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        flex-shrink: 0;
        margin-right: 3.0972rem;
        height: 100%;

        .rectangle-35-3Ld {
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-7eom-BSq {
          box-sizing: border-box;
          padding: 2.855rem 3rem 4.147rem 3rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .simulasi-utbk-uNq {
            margin-bottom: 1.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.21;
            color: #221e1e;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .dinda-pengetahuan-dan-pemahaman-umum-d3w {
            margin-bottom: 1.7rem;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.21;
            text-transform: capitalize;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .nov-7-30-1-jam-30-menit-w4d {
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.21;
            text-transform: capitalize;
            color: #000000;
          }
        }
      }
      .group-1000002635-2bs {
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 3.0969rem;
        width: 46.8687rem;
        height: 100%;

        .rectangle-35-NQq {
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-tfd5-WG9 {
          box-sizing: border-box;
          padding: 2.855rem 2.134rem 4.147rem 2.134rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pembahasan-akutansi-q3X {
            color: #221e1e;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.1rem 0.4rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.21;
          }
          .amel-ekonomi-M1s {
            font-weight: 400;
            text-transform: capitalize;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 1.7rem 0.4rem;
            font-size: 1.4rem;
            line-height: 1.21;
            white-space: nowrap;
          }
          .nov-18-30-1-jam-30-menit-FN9 {
            line-height: 1.21;
            text-transform: capitalize;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .group-1000002636-k41 {
        flex-direction: column;
        background-color: #ffffff;
        width: 46.8687rem;
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;

        .rectangle-35-tAD {
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-a3ej-pZf {
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.855rem 2.569rem 4.147rem 2.569rem;
          width: 100%;

          .geografi-sekitar-jawa-YVf {
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.21;
            color: #221e1e;
          }
          .rona-geografi-UeD {
            flex-shrink: 0;
            font-size: 1.4rem;
            text-transform: capitalize;
            color: #000000;
            font-family: Libre Franklin, 'Source Sans Pro';
            margin-bottom: 1.7rem;
            font-weight: 400;
            line-height: 1.21;
            white-space: nowrap;
          }
          .nov-15-00-1-jam-30-menit-CaD {
            font-family: Libre Franklin, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.21;
            text-transform: capitalize;
            color: #000000;
          }
        }
      }
    }
    .group-1000002634-hWy {
      width: 46.8687rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e6e6e6;
      box-sizing: border-box;
      background-color: #ffffff;

      .rectangle-35-FHb {
        width: 46.8687rem;
        height: 27.8734rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-rv8b-zW5 {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.883rem 2.5rem 4.219rem 2.5rem;
        width: 100%;
        height: 16.0014rem;
        display: flex;

        .materi-matrix-4x4-igy {
          margin: 0rem 0rem 1.1rem 0.1rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.21;
          color: #221e1e;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .idham-matematika-2xZ {
          margin-bottom: 1.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: #000000;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.21;
          text-transform: capitalize;
          flex-shrink: 0;
        }
        .nov-12-30-1-jam-30-menit-MV3 {
          font-size: 1.6rem;
          line-height: 1.21;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #000000;
          font-family: Libre Franklin, 'Source Sans Pro';
        }
      }
    }
  }
  .rectangle-247-EYq {
    top: 0;
    background-color: #ffffff;
    width: 192rem;
    height: 18.3rem;
    position: absolute;
    left: 0;
  }
  .header-a6u {
    display: flex;
    align-items: center;
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;

    .logo-HX7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;

      .logo-clean-1-oEZ {
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .study-smart-XAZ {
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .home-qS9 {
      margin: 0rem 3.8rem 2.3rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      color: #000000;
      flex-shrink: 0;
      font-weight: 500;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .belajar-ikq {
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.95rem 2.4rem 0rem;
      cursor: pointer;
      justify-content: center;
      line-height: 1.21;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      display: flex;
      align-items: center;
    }
    .latihan-EDP {
      white-space: nowrap;
      margin: 0rem 4.15rem 2.1rem 0rem;
      justify-content: center;
      line-height: 1.21;
      color: #545ae8;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .chat-kBj {
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 4.2rem 2.1rem 0rem;
      cursor: pointer;
    }
    .blog-FuB {
      margin: 0rem 110.6rem 2.1rem 0rem;
      display: flex;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.21;
    }
    .sign-out-Niu {
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;
      position: relative;
      border-radius: 25.7rem;
      flex-shrink: 0;

      .utbk-7Rb {
        white-space: nowrap;
        height: 2.2rem;
        position: absolute;
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 7rem;
        left: 3.15rem;
        top: 1.3rem;
        text-align: center;
        font-weight: 700;
      }
      .group-1000002805-RBP {
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 25.7rem;
        width: 13.2rem;

        .rectangle-140-Maq {
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
          width: 12rem;
          height: 4.8rem;
          position: absolute;
        }
        .log-out-UfT {
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          position: absolute;
          top: 1.2rem;
          font-size: 1.8rem;
          line-height: 1.21;
          height: 2.2rem;
          left: 3.7rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}
