
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.materi-utbk-8xh {
  background-color: #fffdfd;
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;

  .auto-group-j3zj-5N9 {
    display: flex;
    background-color: #e3e7ff;
    box-sizing: border-box;
    width: 28.8rem;
    position: absolute;
    left: 3.5rem;
    top: 18.3rem;
    align-items: center;
    padding: 3.1rem 2.5rem 3.1rem 3.1rem;
    height: 49.5rem;
    flex-direction: column;

    .kemampuan-penalaran-umum-kjB {
      max-width: 16.5rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 6.7rem 2.7rem 0rem;
    }
    .pengetahuan-dan-pemahaman-umum-qkd {
      max-width: 17.1rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 6.1rem 2.5rem 0rem;
    }
    .kemampuan-memahami-bacaan-dan-menulis-9WR {
      max-width: 23.2rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.5rem;
    }
    .pengetahuan-kuantitatif-fDs {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.7rem 3.1rem 0rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
    }
    .literasi-dalam-bahasa-indonesia-a5w {
      flex-shrink: 0;
      margin: 0rem 7.7rem 2.4rem 0rem;
      max-width: 15.5rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
    }
    .literasi-dalam-bahasa-inggris-sqj {
      margin: 0rem 10.1rem 2.4rem 0rem;
      max-width: 13.1rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .penalaran-matematika-nho {
      margin-right: 1.6rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #221e1e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .frame-20-JRF {
    width: 147.2rem;
    height: 137.3186rem;
    position: absolute;
    left: 38.6rem;
    top: 18.8rem;

    .auto-group-yggk-dTX {
      align-items: center;
      margin: 0rem 0rem 2.597rem 0.4rem;
      height: 43.8748rem;
      display: flex;

      .group-1000002634-xEu {
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 3.0973rem;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        display: flex;
        width: 46.8686rem;
        height: 100%;
        align-items: center;

        .rectangle-35-66D {
          width: 46.8686rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-2us5-pnu {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.927rem 2.581rem 4.194rem 2.581rem;
          width: 100%;
          display: flex;

          .auto-group-hnjf-9aH {
            margin-bottom: 1.0323rem;
            width: 100%;
            height: 5.8484rem;
            position: relative;
            flex-shrink: 0;

            .kemampuan-penalaran-umum-tnm {
              top: 0;
              line-height: 1.2125;
              color: #221e1e;
              left: 0.0191rem;
              height: 4.9rem;
              position: absolute;
              font-size: 2rem;
              font-weight: 600;
              font-family: Inter, 'Source Sans Pro';
              width: 16.5rem;
            }
            .rectangle-128-zqo {
              background-color: #f0f0f0;
              border-radius: 1rem;
              width: 41.7068rem;
              height: 1.0324rem;
              position: absolute;
              left: 0;
              top: 4.816rem;
            }
          }
          .complate-KdB {
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
      }
      .group-1000002635-v7B {
        align-items: center;
        display: flex;
        background-color: #ffffff;
        margin-right: 3.0969rem;
        height: 100%;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 46.8687rem;
        flex-direction: column;

        .rectangle-35-eos {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
        }
        .auto-group-j1kx-zsj {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.927rem 2.581rem 4.194rem 2.534rem;
          width: 100%;
          display: flex;

          .pengetahuan-dan-pemahaman-umum-w2H {
            margin-bottom: 0.4161rem;
            max-width: 17.1rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-ugif-FYm {
            margin: 0rem 0rem 1.032rem 0.047rem;
            width: calc(100% - 0.0467rem);
            background-color: #f0f0f0;
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-131-BSR {
              width: 4.1707rem;
              height: 1.0324rem;
              background-color: #d9d9d9;
              border-radius: 1rem;
            }
          }
          .complate-75B {
            color: #000000;
            flex-shrink: 0;
            line-height: 1.2125;
            text-transform: capitalize;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.0467rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
      .group-1000002636-oCu {
        width: 46.8687rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        flex-shrink: 0;
        height: 100%;
        box-sizing: border-box;
        background-color: #ffffff;

        .rectangle-35-jMT {
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-kmc7-UK3 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.927rem 2.581rem 4.194rem 2.569rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-bdbh-D1j {
            height: 5.8484rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1.0323rem;
            width: 100%;

            .kemampuan-memahami-bacaan-dan-menulis-9vy {
              height: 4.9rem;
              position: absolute;
              font-size: 2rem;
              color: #221e1e;
              font-family: Inter, 'Source Sans Pro';
              width: 23.2rem;
              top: 0;
              font-weight: 600;
              line-height: 1.2125;
              left: 0;
            }
            .rectangle-130-Twf {
              border-radius: 1rem;
              width: 41.7069rem;
              height: 1.0324rem;
              position: absolute;
              left: 0.0122rem;
              top: 4.816rem;
              background-color: #f0f0f0;
            }
          }
          .complate-b2H {
            color: #000000;
            white-space: nowrap;
            margin-left: 0.0122rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-qrhm-g3j {
      margin-bottom: 3.0971rem;
      height: 43.8749rem;
      display: flex;
      align-items: center;

      .group-1000002634-ci5 {
        flex-direction: column;
        box-sizing: border-box;
        background-color: #ffffff;
        margin: 0rem 3.097rem 0rem 0rem;
        align-items: center;
        display: flex;
        border: solid 0.1rem #e6e6e6;
        flex-shrink: 0;
        width: 46.8686rem;
        height: calc(100% - 0rem);

        .rectangle-35-wVT {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 46.8686rem;
          height: 27.8734rem;
        }
        .auto-group-2szm-Gnd {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.891rem 2.581rem 4.194rem 2.581rem;
          width: 100%;
          height: 16.0014rem;

          .pengetahuan-kuantitatif-CAV {
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6521rem;
            font-size: 1.8rem;
            font-weight: 700;
          }
          .rectangle-128-t3K {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 1.0323rem;
            width: 100%;
            height: 1.0324rem;
            background-color: #f0f0f0;
          }
          .complate-nuP {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
          }
        }
      }
      .group-1000002635-4ru {
        height: calc(100% - 0rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 46.8687rem;
        flex-shrink: 0;
        margin: 0rem 3.097rem 0rem 0rem;

        .rectangle-35-nnu {
          vertical-align: top;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
        }
        .auto-group-kptk-Knq {
          box-sizing: border-box;
          padding: 2.855rem 2.581rem 4.194rem 2.534rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .literasi-dalam-bahasa-indonesia-FRb {
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.4879rem;
            max-width: 15.5rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
          }
          .auto-group-zhtp-mPw {
            margin: 0rem 0rem 1.032rem 0.047rem;
            width: calc(100% - 0.0467rem);
            background-color: #f0f0f0;
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-131-Vaq {
              background-color: #d9d9d9;
              border-radius: 1rem;
              width: 4.1707rem;
              height: 1.0324rem;
            }
          }
          .complate-cvM {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 0.0467rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
      .group-1000002751-iTb {
        margin-top: 0rem;
        width: 46.8687rem;
        height: calc(100% - 0rem);
        cursor: pointer;
        flex-shrink: 0;

        .group-1000002636-3km {
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #e6e6e6;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 100%;
          height: 100%;
          align-items: center;

          .rectangle-35-bnH {
            width: 46.8687rem;
            height: 27.8734rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-1cp5-Lzm {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.891rem 2.581rem 4.194rem 2.581rem;
            width: 100%;
            height: 16.0014rem;

            .literasi-dalam-bahasa-inggris-fn9 {
              line-height: 1.2125;
              color: #221e1e;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 0rem 0.452rem 0rem;
              max-width: 13.1rem;
              font-size: 1.8rem;
              font-weight: 700;
            }
            .rectangle-130-mqB {
              background-color: #f0f0f0;
              border-radius: 1rem;
              flex-shrink: 0;
              margin-bottom: 1.0323rem;
              width: 100%;
              height: 1.0324rem;
            }
            .complate-uAh {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .group-1000002634-cL1 {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 46.8686rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e6e6e6;

      .rectangle-35-kx1 {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 46.8686rem;
        height: 27.8734rem;
      }
      .auto-group-arbh-6FB {
        box-sizing: border-box;
        padding: 2.883rem 2.581rem 4.194rem 2.581rem;
        width: 100%;
        height: 16.0014rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .penalaran-matematika-R2Z {
          font-weight: 600;
          line-height: 1.2125;
          color: #221e1e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.36rem 0.019rem;
          font-size: 2rem;
        }
        .rectangle-128-7g5 {
          margin-bottom: 1.0323rem;
          width: 100%;
          height: 1.0324rem;
          background-color: #f0f0f0;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .complate-evu {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
        }
      }
    }
  }
  .rectangle-247-AuF {
    width: 192rem;
    height: 18.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
  }
  .header-7pV {
    display: flex;
    align-items: center;
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;

    .logo-qVb {
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 2.6rem 0rem;

      .logo-clean-1-A25 {
        flex-shrink: 0;
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
      }
      .study-smart-HcV {
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
      }
    }
    .home-c8y {
      margin: 0rem 3.8rem 2.3rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      line-height: 1.21;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 500;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .belajar-iho {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-family: Libre Franklin, 'Source Sans Pro';
      margin: 0rem 3.95rem 2.4rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.21;
      color: #545ae8;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .latihan-dZs {
      margin: 0rem 4.15rem 2.1rem 0rem;
      align-items: center;
      color: #000000;
      flex-shrink: 0;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .chat-Ywj {
      line-height: 1.21;
      white-space: nowrap;
      margin: 0rem 4.2rem 2.1rem 0rem;
      cursor: pointer;
      justify-content: center;
      font-weight: 400;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
    }
    .blog-Gcq {
      display: flex;
      justify-content: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 110.6rem 2.1rem 0rem;
      cursor: pointer;
      align-items: center;
      font-size: 1.8rem;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
    }
    .sign-out-bQD {
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;
      position: relative;
      border-radius: 25.7rem;
      flex-shrink: 0;

      .utbk-jWR {
        left: 3.15rem;
        top: 1.3rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 7rem;
        height: 2.2rem;
        position: absolute;
        text-align: center;
        font-size: 1.8rem;
        line-height: 1.2125;
        color: #000000;
      }
      .group-1000002805-e7b {
        left: 0;
        top: 0;
        border-radius: 25.7rem;
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;

        .rectangle-140-BdK {
          width: 12rem;
          height: 4.8rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
        }
        .log-out-KUd {
          line-height: 1.21;
          height: 2.2rem;
          position: absolute;
          left: 3.7rem;
          top: 1.2rem;
          text-align: center;
          font-weight: 400;
          width: 5.8rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
