
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.materi-umum-QEu {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fffdfd;

  .rectangle-16-XKX {
    height: 104rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    background-color: #ffffff;
    width: 188rem;
  }
  .rectangle-224-qb7 {
    position: absolute;
    left: 5rem;
    top: 90rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 1.5rem;
    width: 25rem;
    height: 10rem;
  }
  .header-Zn1 {
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;
    display: flex;
    align-items: center;
    width: 179.7rem;

    .logo-tZP {
      margin: 0rem 3.3rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-clean-1-bih {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
      }
      .study-smart-LAV {
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
      }
    }
    .home-Emf {
      flex-shrink: 0;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.8rem 2.3rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.21;
      color: #000000;
    }
    .belajar-M5b {
      margin: 0rem 3.95rem 2.4rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.21;
      color: #545ae8;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .latihan-eaV {
      margin: 0rem 4.75rem 2.1rem 0rem;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      cursor: pointer;
      display: flex;
      justify-content: center;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .chat-Mzh {
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      margin: 0rem 3.4rem 2.3rem 0rem;
      cursor: pointer;
      display: flex;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      line-height: 1.21;
    }
    .blog-UpR {
      margin: 0rem 110.8rem 2.3rem 0rem;
      display: flex;
      justify-content: center;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.21;
    }
    .sign-out-bPF {
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      position: relative;
      border-radius: 25.7rem;
      flex-shrink: 0;

      .utbk-L5w {
        height: 2.2rem;
        left: 3.15rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2125;
        width: 7rem;
        top: 1.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
      }
      .group-1000002805-dqj {
        left: 0;
        top: 0;
        border-radius: 25.7rem;
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;

        .rectangle-140-P4D {
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
          width: 12rem;
          height: 4.8rem;
        }
        .log-out-iMP {
          line-height: 1.21;
          color: #ffffff;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          left: 3.7rem;
          top: 1.2rem;
          font-weight: 400;
          height: 2.2rem;
          position: absolute;
          text-align: center;
          font-size: 1.8rem;
        }
      }
    }
  }
  .rectangle-245-nMF {
    background-color: #e2e7ff;
    width: 28.8rem;
    height: 54.8rem;
    position: absolute;
    left: 3.5rem;
    top: 18.3rem;
  }
  .ekonomi-KMB {
    font-size: 2rem;
    color: #221e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    top: 67.5rem;
    line-height: 1.2125;
    width: 8.3rem;
    left: 6.2rem;
    font-weight: 600;
  }
  .geografi-dMs {
    color: #221e1e;
    font-family: Inter, 'Source Sans Pro';
    width: 7.7rem;
    height: 2.2rem;
    position: absolute;
    left: 6.2rem;
    font-size: 1.8rem;
    top: 62.2rem;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .sosiologi-jvh {
    height: 2.2rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.2rem;
    position: absolute;
    left: 6.2rem;
    top: 56.9rem;
    font-size: 1.8rem;
    color: #221e1e;
  }
  .sejarah-f3f {
    height: 2.2rem;
    left: 6.2rem;
    top: 52.1rem;
    white-space: nowrap;
    width: 6.7rem;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #221e1e;
    font-family: Inter, 'Source Sans Pro';
  }
  .bahasa-indonesia-msP {
    position: absolute;
    color: #221e1e;
    width: 15.5rem;
    height: 2.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 6.2rem;
    top: 46.8rem;
  }
  .bahasa-inggris-5t5 {
    width: 13.1rem;
    height: 2.2rem;
    position: absolute;
    left: 6.2rem;
    top: 41.9rem;
    line-height: 1.2125;
    color: #221e1e;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .kimia-Ptm {
    font-size: 1.8rem;
    color: #221e1e;
    white-space: nowrap;
    top: 36.6rem;
    height: 2.2rem;
    position: absolute;
    left: 6.2rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 5rem;
  }
  .fisika-KGd {
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    left: 6.2rem;
    top: 31.4rem;
    font-weight: 600;
    color: #221e1e;
    white-space: nowrap;
    width: 5.6rem;
    position: absolute;
    font-size: 2rem;
    line-height: 1.2125;
  }
  .biologi-2gq {
    position: absolute;
    line-height: 1.2125;
    color: #221e1e;
    font-family: Inter, 'Source Sans Pro';
    width: 6.1rem;
    height: 2.2rem;
    left: 6.2rem;
    top: 26.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .matematika-YQH {
    left: 6.2rem;
    top: 21.1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    width: 11.5rem;
    height: 2.5rem;
    position: absolute;
    line-height: 1.2125;
    color: #221e1e;
    white-space: nowrap;
  }
  .frame-20-3bw {
    padding: 0.5rem 3.2rem 35.525rem 3rem;
    width: 153.4rem;
    height: 220.3rem;
    position: absolute;
    left: 36.6rem;
    top: 18.3rem;
    box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    .auto-group-5e1r-jzZ {
      margin: 0rem 0rem 2.597rem 0.4rem;
      height: 43.8748rem;
      display: flex;
      align-items: center;

      .group-1000002747-Gjb {
        cursor: pointer;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-right: 3.0973rem;
        width: 46.8686rem;
        height: 100%;

        .group-1000002634-cYZ {
          box-sizing: border-box;
          border-radius: 0 1.5rem 0 1.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #e6e6e6;
          background-color: #ffffff;
          height: 100%;
          align-items: center;

          .rectangle-35-xsK {
            vertical-align: top;
            border-radius: 0 1.5rem 0 1.5rem;
            flex-shrink: 0;
            width: 46.8686rem;
            height: 27.8734rem;
            object-fit: cover;
          }
          .auto-group-ptaf-6Cq {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.927rem 2.581rem 4.194rem 2.581rem;
            width: 100%;
            display: flex;

            .matematika-cS5 {
              flex-shrink: 0;
              margin: 0rem 0rem 2.316rem 0.019rem;
              font-size: 2rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #221e1e;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-128-uvy {
              margin-bottom: 1.0323rem;
              width: 100%;
              height: 1.0323rem;
              background-color: #f0f0f0;
              border-radius: 0 1.5rem 0 1.5rem;
              flex-shrink: 0;
            }
            .complate-N3s {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-transform: capitalize;
            }
          }
        }
      }
      .group-1000002635-E65 {
        margin-right: 3.0968rem;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        width: 46.8687rem;
        height: 100%;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        background-color: #ffffff;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;

        .rectangle-35-ZPF {
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
        }
        .auto-group-uqek-VGu {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.927rem 2.581rem 4.194rem 2.534rem;

          .biologi-DTo {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.616rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-9jep-wub {
            margin: 0rem 0rem 1.032rem 0.047rem;
            width: calc(100% - 0.0467rem);
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 0 1.5rem;
            flex-shrink: 0;

            .rectangle-131-t49 {
              background-color: #d9d9d9;
              border-radius: 0 1.5rem 0 1.5rem;
              width: 4.1707rem;
              height: 1.0323rem;
            }
          }
          .complate-oB7 {
            margin-left: 0.0467rem;
            font-size: 1.6rem;
            font-weight: 400;
            text-transform: capitalize;
            color: #000000;
            white-space: nowrap;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .group-1000002636-H6H {
        width: 46.8687rem;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;
        background-color: #ffffff;

        .rectangle-35-RTP {
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
        }
        .auto-group-pokz-Mbw {
          box-sizing: border-box;
          padding: 2.927rem 2.581rem 4.194rem 2.569rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .fisika-HkV {
            font-weight: 600;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.316rem;
            font-size: 2rem;
          }
          .rectangle-130-2TB {
            height: 1.0323rem;
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 0 1.5rem;
            flex-shrink: 0;
            margin: 0rem 0rem 1.032rem 0.012rem;
            width: calc(100% - 0.0122rem);
          }
          .complate-LCy {
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            color: #000000;
            white-space: nowrap;
            margin-left: 0.0122rem;
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-yfmm-cRP {
      height: 43.8749rem;
      display: flex;
      align-items: center;
      margin-bottom: 2.5533rem;

      .group-1000002634-9AR {
        border: solid 0.1rem #e6e6e6;
        margin: 0rem 3.097rem 0rem 0rem;
        width: 46.8686rem;
        height: calc(100% - 0rem);
        align-items: center;
        flex-direction: column;
        display: flex;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;

        .rectangle-35-SfK {
          flex-shrink: 0;
          width: 46.8686rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
        }
        .auto-group-ejqj-mSh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.855rem 2.581rem 4.194rem 2.581rem;
          width: 100%;
          height: 16.0014rem;

          .kimia-t1X {
            flex-shrink: 0;
            margin: 0rem 0rem 2.688rem 0.019rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-128-zqF {
            height: 1.0324rem;
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 1rem 1.5rem;
            flex-shrink: 0;
            margin-bottom: 1.0323rem;
            width: 100%;
          }
          .complate-8Rf {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .group-1000002635-ppH {
        background-color: #ffffff;
        flex-shrink: 0;
        height: calc(100% - 0rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        margin: 0rem 3.097rem 0rem 0rem;
        width: 46.8687rem;
        border-radius: 0 1.5rem 0 1.5rem;

        .rectangle-35-x9o {
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
          object-fit: cover;
        }
        .auto-group-tg3u-V9j {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.855rem 2.581rem 4.194rem 2.534rem;
          width: 100%;
          height: 16.0014rem;

          .bahasa-inggris-cVF {
            margin-bottom: 2.6879rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-elvq-Yth {
            margin: 0rem 0rem 1.032rem 0.047rem;
            width: calc(100% - 0.0467rem);
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 1rem 1.5rem;
            flex-shrink: 0;

            .rectangle-131-tSm {
              width: 4.1707rem;
              height: 1.0324rem;
              background-color: #d9d9d9;
              border-radius: 0 1.5rem 1rem 1.5rem;
            }
          }
          .complate-nY9 {
            margin-left: 0.0467rem;
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
          }
        }
      }
      .group-1000002636-51T {
        background-color: #ffffff;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;
        width: 46.8687rem;
        height: calc(100% - 0rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        margin-top: 0rem;

        .rectangle-35-D7f {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
          height: 27.8734rem;
        }
        .auto-group-6wfu-k7b {
          box-sizing: border-box;
          padding: 2.855rem 2.581rem 4.194rem 2.569rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .bahasa-indonesia-rpq {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6879rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-130-nTb {
            border-radius: 0 1.5rem 1rem 1.5rem;
            flex-shrink: 0;
            margin: 0rem 0rem 1.032rem 0.012rem;
            width: calc(100% - 0.0122rem);
            height: 1.0324rem;
            background-color: #f0f0f0;
          }
          .complate-HfF {
            margin-left: 0.0122rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-cvd9-yY5 {
      display: flex;
      align-items: flex-start;
      margin-bottom: 3.0814rem;

      .group-1000002634-8A5 {
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0.544rem 3.531rem 0rem 0rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0 1.5rem 0 1.5rem;
        width: 46.8686rem;

        .rectangle-35-FEh {
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8686rem;
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
        }
        .auto-group-hzmu-NaD {
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.883rem 2.581rem 4.194rem 2.581rem;

          .ekonomi-hMb {
            font-weight: 600;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.36rem 0.019rem;
            font-size: 2rem;
          }
          .rectangle-128-czM {
            width: 100%;
            height: 1.0324rem;
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 1rem 1.5rem;
            flex-shrink: 0;
            margin-bottom: 1.0323rem;
          }
          .complate-Yt1 {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            color: #000000;
          }
        }
      }
      .group-1000002635-3Zs {
        width: 46.8687rem;
        display: flex;
        box-sizing: border-box;
        background-color: #ffffff;
        margin-right: 2.6313rem;
        align-items: center;
        flex-direction: column;
        border: solid 0.1rem #e6e6e6;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;

        .rectangle-35-nGZ {
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
        }
        .auto-group-sjtr-v7s {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.855rem 2.581rem 4.194rem 2.534rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;

          .sejarah-qEq {
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6879rem;
            font-size: 1.8rem;
          }
          .auto-group-5c7u-B3o {
            flex-shrink: 0;
            margin: 0rem 0rem 1.032rem 0.047rem;
            width: calc(100% - 0.0467rem);
            background-color: #f0f0f0;
            border-radius: 0 1.5rem 1rem 1.5rem;

            .rectangle-131-iJd {
              width: 4.1707rem;
              height: 1.0324rem;
              background-color: #d9d9d9;
              border-radius: 0 1.5rem 1rem 1.5rem;
            }
          }
          .complate-RD3 {
            color: #000000;
            font-size: 1.6rem;
            text-transform: capitalize;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.0467rem;
            font-weight: 400;
          }
        }
      }
      .group-1000002636-JXj {
        flex-shrink: 0;
        width: 46.8687rem;
        display: flex;
        border: solid 0.1rem #e6e6e6;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0 1.5rem 0 1.5rem;
        align-items: center;
        flex-direction: column;

        .rectangle-35-erV {
          height: 27.8734rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0 1.5rem 0 1.5rem;
          flex-shrink: 0;
          width: 46.8687rem;
        }
        .auto-group-6awo-tVw {
          padding: 2.855rem 2.581rem 4.194rem 2.569rem;
          width: 100%;
          height: 16.0014rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .sosiologi-Qz5 {
            margin-bottom: 2.6879rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #221e1e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-130-xEu {
            border-radius: 0 1.5rem 1rem 1.5rem;
            flex-shrink: 0;
            margin: 0rem 0rem 1.032rem 0.012rem;
            width: calc(100% - 0.0122rem);
            height: 1.0324rem;
            background-color: #f0f0f0;
          }
          .complate-sMs {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            text-transform: capitalize;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.0122rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .group-1000002634-MXw {
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0 1.5rem 0 1.5rem;
      width: 46.8686rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e6e6e6;

      .rectangle-35-Ji5 {
        height: 27.8734rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0 1.5rem 0 1.5rem;
        flex-shrink: 0;
        width: 46.8686rem;
      }
      .auto-group-crex-39s {
        box-sizing: border-box;
        padding: 2.855rem 2.581rem 4.194rem 2.581rem;
        width: 100%;
        height: 16.0014rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .geografi-Z8D {
          color: #221e1e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.688rem 0.019rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .rectangle-128-H4D {
          border-radius: 0 1.5rem 1rem 1.5rem;
          flex-shrink: 0;
          margin-bottom: 1.0323rem;
          width: 100%;
          height: 1.0324rem;
          background-color: #f0f0f0;
        }
        .complate-DCm {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-transform: capitalize;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .rectangle-247-tZo {
    height: 18.3rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    width: 192rem;
  }
  .header-2vu {
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;
    display: flex;
    align-items: center;

    .logo-xJm {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;

      .logo-clean-1-GaM {
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1113rem;
        width: 5.2789rem;
      }
      .study-smart-QAm {
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.21;
      }
    }
    .home-KHj {
      font-weight: 500;
      line-height: 1.21;
      flex-shrink: 0;
      margin: 0rem 3.8rem 2.3rem 0rem;
      cursor: pointer;
      font-size: 1.8rem;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .belajar-S7T {
      display: flex;
      justify-content: center;
      font-family: Libre Franklin, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.21;
      color: #545ae8;
      white-space: nowrap;
      margin: 0rem 3.95rem 2.4rem 0rem;
      cursor: pointer;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .latihan-wpu {
      align-items: center;
      font-weight: 400;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 4.15rem 2.1rem 0rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      color: #000000;
      flex-shrink: 0;
    }
    .chat-qfP {
      flex-shrink: 0;
      margin: 0rem 4.2rem 2.1rem 0rem;
      cursor: pointer;
      align-items: center;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
    }
    .blog-Yph {
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 110.6rem 2.1rem 0rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
    }
    .sign-out-Fz1 {
      flex-shrink: 0;
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;
      position: relative;
      border-radius: 25.7rem;

      .utbk-PqK {
        text-align: center;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 7rem;
        position: absolute;
        top: 1.3rem;
        line-height: 1.2125;
        height: 2.2rem;
        left: 3.15rem;
        font-size: 1.8rem;
      }
      .group-1000002805-hLD {
        top: 0;
        border-radius: 25.7rem;
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;
        left: 0;

        .rectangle-140-DpM {
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
          width: 12rem;
          height: 4.8rem;
        }
        .log-out-Mff {
          text-align: center;
          line-height: 1.21;
          color: #ffffff;
          white-space: nowrap;
          width: 5.8rem;
          position: absolute;
          left: 3.7rem;
          top: 1.2rem;
          height: 2.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          font-family: Libre Franklin, 'Source Sans Pro';
        }
      }
    }
  }
}
