
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.review-simulasi-latihan-bKw {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;

  .rectangle-16-Ued {
    left: 2rem;
    top: 2rem;
    background-color: #ffffff;
    width: 188rem;
    height: 104rem;
    position: absolute;
  }
  .frame-5-PFo {
    overflow: hidden;
    width: 188rem;
    height: 104rem;
    position: absolute;
    left: 2rem;
    top: 2rem;

    .rectangle-26-oaR {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 32.6rem;
      height: 53rem;
      position: absolute;
      left: 0.7rem;
      top: 20.8rem;
    }
    .rectangle-153-iBb {
      height: 4rem;
      position: absolute;
      left: 28rem;
      top: 68.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
    }
    .rectangle-154-E9w {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 68.7rem;
      border: solid 0.1rem #000000;
    }
    .rectangle-155-wq3 {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
      top: 68.7rem;
    }
    .rectangle-156-sih {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 68.7rem;
    }
    .rectangle-157-zHX {
      top: 68.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
    }
    .rectangle-148-Wmf {
      top: 63.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
    }
    .rectangle-149-SfK {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 63.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-150-xtZ {
      top: 63.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
    }
    .rectangle-151-tGR {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 63.5rem;
      border: solid 0.1rem #000000;
    }
    .rectangle-152-D3o {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
      top: 63.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-89-jXw {
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
      top: 27.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .rectangle-88-CRX {
      top: 27.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
    }
    .rectangle-87-Udw {
      left: 15rem;
      top: 27.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .item-8-zcH {
      height: 2.2rem;
      top: 28rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.2rem;
      position: absolute;
      left: 16.45rem;
      text-align: center;
      color: #000000;
    }
    .item-9-fiR {
      width: 1.2rem;
      position: absolute;
      left: 22.95rem;
      top: 28rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
    }
    .item-10-a4h {
      color: #000000;
      width: 2.2rem;
      top: 28rem;
      line-height: 1.2125;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      left: 28.95rem;
    }
    .rectangle-86-51T {
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 27.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .item-7-oTF {
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 10rem;
      top: 28rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      width: 1.1rem;
      height: 2.2rem;
    }
    .rectangle-85-7D3 {
      position: absolute;
      left: 2.1rem;
      top: 27.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
    }
    .rectangle-113-36h {
      top: 32.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
    }
    .rectangle-114-xzM {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 32.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-115-tt1 {
      height: 4rem;
      position: absolute;
      left: 15rem;
      top: 32.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
    }
    .rectangle-116-cZ7 {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 32.3rem;
    }
    .item-12-8nM {
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      left: 9.5rem;
      top: 33.2rem;
      font-size: 1.8rem;
      text-align: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 2.1rem;
      height: 2.2rem;
      position: absolute;
    }
    .item-13-qwf {
      width: 2.1rem;
      height: 2.2rem;
      position: absolute;
      left: 16rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 33.2rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
    }
    .item-14-m4d {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      left: 22.45rem;
      top: 33.2rem;
      color: #000000;
      white-space: nowrap;
    }
    .rectangle-117-fvh {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
      top: 32.3rem;
    }
    .rectangle-118-oGD {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
      top: 37.5rem;
      border: solid 0.1rem #000000;
    }
    .rectangle-119-vbj {
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 37.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .rectangle-120-FP7 {
      top: 37.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
    }
    .rectangle-121-yK7 {
      left: 8.5rem;
      top: 37.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .rectangle-122-uTf {
      top: 37.5rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
    }
    .item-16-RS1 {
      left: 3rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      width: 2.1rem;
      position: absolute;
      top: 38.4rem;
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
    }
    .rectangle-123-Xjw {
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
      top: 42.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .rectangle-124-TNh {
      position: absolute;
      left: 21.5rem;
      top: 42.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
    }
    .rectangle-125-muB {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
      top: 42.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-126-hnq {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 42.7rem;
    }
    .rectangle-127-qPF {
      position: absolute;
      left: 2.1rem;
      top: 42.7rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
    }
    .item-21-ZKF {
      top: 43.6rem;
      font-size: 1.8rem;
      font-weight: 700;
      width: 2.1rem;
      position: absolute;
      left: 3rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
    }
    .item-22-sKw {
      position: absolute;
      left: 9.4rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      width: 2.3rem;
      font-family: Inter, 'Source Sans Pro';
      top: 43.6rem;
      white-space: nowrap;
      height: 2.2rem;
    }
    .item-23-BLd {
      left: 15.85rem;
      top: 43.6rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      position: absolute;
      height: 2.2rem;
      text-align: center;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.4rem;
    }
    .item-24-HuT {
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 43.6rem;
      left: 22.35rem;
      font-size: 1.8rem;
      font-weight: 700;
      white-space: nowrap;
      width: 2.4rem;
      height: 2.2rem;
    }
    .item-25-bv9 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      top: 43.6rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      width: 2.3rem;
      position: absolute;
      left: 28.9rem;
      font-size: 1.8rem;
    }
    .rectangle-128-KLM {
      left: 28rem;
      top: 47.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .item-30-FUu {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
      width: 2.5rem;
      height: 2.2rem;
      position: absolute;
      left: 28.8rem;
      top: 48.8rem;
    }
    .rectangle-129-xu7 {
      left: 21.5rem;
      top: 47.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .rectangle-130-UsT {
      position: absolute;
      left: 15rem;
      top: 47.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
    }
    .rectangle-131-1cV {
      top: 47.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
    }
    .rectangle-132-79j {
      height: 4rem;
      position: absolute;
      left: 2.1rem;
      top: 47.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
    }
    .item-26-RAR {
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      left: 2.85rem;
      height: 2.2rem;
      position: absolute;
      top: 48.8rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 2.4rem;
    }
    .item-27-XDT {
      white-space: nowrap;
      height: 2.2rem;
      left: 9.4rem;
      text-align: center;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      color: #000000;
      width: 2.3rem;
      position: absolute;
      top: 48.8rem;
      font-size: 1.8rem;
      line-height: 1.2125;
    }
    .item-28-dnH {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      width: 2.4rem;
      left: 15.85rem;
      top: 48.8rem;
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-29-8j3 {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 48.8rem;
      font-size: 1.8rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 2.4rem;
      height: 2.2rem;
      left: 22.35rem;
    }
    .rectangle-133-qtM {
      left: 28rem;
      top: 53.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .rectangle-134-Avd {
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 53.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
    }
    .rectangle-135-hff {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
      top: 53.1rem;
    }
    .rectangle-136-q1B {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 8.5rem;
      top: 53.1rem;
    }
    .rectangle-137-A3T {
      top: 53.1rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
    }
    .rectangle-138-gnV {
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
      top: 58.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
    }
    .rectangle-139-cAM {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 58.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-140-wCd {
      position: absolute;
      left: 15rem;
      top: 58.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
    }
    .rectangle-141-Twf {
      left: 8.5rem;
      top: 58.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .rectangle-142-PaR {
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
      top: 58.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .rectangle-143-isb {
      top: 21.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 28rem;
    }
    .item-5-FMj {
      width: 1.2rem;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      height: 2.2rem;
      position: absolute;
      left: 29.45rem;
      top: 22.7rem;
      white-space: nowrap;
    }
    .rectangle-144-9i1 {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 21.5rem;
      top: 21.9rem;
      border: solid 0.1rem #000000;
    }
    .item-4-GXj {
      width: 1.3rem;
      left: 22.9rem;
      top: 22.7rem;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
    }
    .rectangle-145-yS9 {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 15rem;
      top: 21.9rem;
    }
    .item-3-VvH {
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      width: 1.2rem;
      height: 2.2rem;
      position: absolute;
      text-align: center;
      left: 16.45rem;
      top: 22.7rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .rectangle-146-ck1 {
      left: 8.5rem;
      top: 21.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
    }
    .item-2-Ydf {
      width: 1.2rem;
      height: 2.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 9.95rem;
      top: 22.7rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .rectangle-147-4M7 {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 4rem;
      height: 4rem;
      position: absolute;
      left: 2.1rem;
      top: 21.9rem;
    }
    .item-1-zVf {
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-weight: 700;
      top: 22.7rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 0.9rem;
      height: 2.2rem;
      left: 3.6rem;
    }
    .item-6-hey {
      height: 2.2rem;
      position: absolute;
      text-align: center;
      color: #000000;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.2rem;
      left: 3.45rem;
      top: 28rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .item-11-19s {
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
      height: 2.2rem;
      position: absolute;
      left: 3.15rem;
      top: 33.2rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      white-space: nowrap;
      text-align: center;
      font-weight: 700;
      color: #000000;
    }
    .item-15-KAZ {
      top: 33.2rem;
      font-family: Inter, 'Source Sans Pro';
      width: 2.1rem;
      height: 2.2rem;
      position: absolute;
      left: 28.9rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .item-17-cfT {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2rem;
      font-size: 1.8rem;
      left: 9.55rem;
      top: 38.4rem;
      text-align: center;
      height: 2.2rem;
      position: absolute;
    }
    .item-18-XXX {
      width: 2.1rem;
      position: absolute;
      left: 16rem;
      font-weight: 700;
      height: 2.2rem;
      top: 38.4rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-19-2z5 {
      position: absolute;
      top: 38.4rem;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      left: 22.5rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 2.1rem;
    }
    .item-20-x73 {
      font-weight: 700;
      height: 2.2rem;
      top: 38.4rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.4rem;
      position: absolute;
      left: 28.85rem;
    }
    .item-31-G7j {
      top: 54rem;
      text-align: center;
      line-height: 1.2125;
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      left: 3rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 2.1rem;
    }
    .item-36-Aiu {
      width: 2.4rem;
      position: absolute;
      left: 2.85rem;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      top: 59.2rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item-41-t97 {
      color: #000000;
      white-space: nowrap;
      width: 2.1rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 3rem;
      top: 64.4rem;
    }
    .item-46-bZK {
      position: absolute;
      left: 2.8rem;
      top: 69.6rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 2.5rem;
      text-align: center;
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
    }
    .item-47-7Gm {
      width: 2.3rem;
      height: 2.2rem;
      position: absolute;
      left: 9.4rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      top: 69.6rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .item-48-DKo {
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      height: 2.2rem;
      top: 69.6rem;
      font-size: 1.8rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 2.5rem;
      position: absolute;
      left: 15.8rem;
    }
    .item-49-WZo {
      height: 2.2rem;
      position: absolute;
      left: 22.3rem;
      top: 69.6rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.5rem;
      text-align: center;
      font-size: 1.8rem;
    }
    .item-50-2HF {
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
      left: 28.85rem;
      top: 69.6rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 2.4rem;
      font-size: 1.8rem;
      color: #000000;
    }
    .item-42-LHw {
      width: 2.4rem;
      height: 2.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 9.35rem;
      top: 64.4rem;
      text-align: center;
      font-size: 1.8rem;
    }
    .item-43-eZX {
      left: 15.8rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      width: 2.5rem;
      height: 2.2rem;
      position: absolute;
      top: 64.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .item-44-ZRb {
      width: 2.5rem;
      position: absolute;
      left: 22.3rem;
      text-align: center;
      font-weight: 700;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      top: 64.4rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .item-45-593 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.4rem;
      position: absolute;
      top: 64.4rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      height: 2.2rem;
      left: 28.85rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .item-37-zG1 {
      position: absolute;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      left: 9.4rem;
      top: 59.2rem;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 2.3rem;
    }
    .item-38-JXb {
      top: 59.2rem;
      font-family: Inter, 'Source Sans Pro';
      width: 2.4rem;
      height: 2.2rem;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      left: 15.85rem;
    }
    .item-39-QqX {
      left: 22.35rem;
      top: 59.2rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      width: 2.4rem;
      height: 2.2rem;
      position: absolute;
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-40-XQM {
      height: 2.2rem;
      position: absolute;
      left: 28.8rem;
      top: 59.2rem;
      font-size: 1.8rem;
      font-weight: 700;
      width: 2.5rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-32-SXK {
      left: 9.35rem;
      text-align: center;
      white-space: nowrap;
      width: 2.4rem;
      height: 2.2rem;
      position: absolute;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      top: 54rem;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .item-33-MeH {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      width: 2.4rem;
      height: 2.2rem;
      left: 15.85rem;
      top: 54rem;
    }
    .item-34-42u {
      height: 2.2rem;
      position: absolute;
      text-align: center;
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 2.5rem;
      top: 54rem;
      font-weight: 700;
      line-height: 1.2125;
      left: 22.3rem;
    }
    .item-35-Mnh {
      height: 2.2rem;
      top: 54rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      width: 2.4rem;
      position: absolute;
      left: 28.75rem;
      text-align: center;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .rectangle-27-S3T {
    height: 53.3rem;
    position: absolute;
    left: 36rem;
    top: 22.7rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 154.2rem;
  }
  .rectangle-58-MRK {
    background-color: #ffffff;
    width: 188rem;
    height: 28rem;
    position: absolute;
    left: 2rem;
    top: 78rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .rectangle-59-H45 {
    top: 16.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 49rem;
    height: 4rem;
    position: absolute;
    left: 70.8rem;
  }
  .plih-soal-untuk-review-dropdown-bqT {
    width: 30rem;
    left: 80.3rem;
    text-align: center;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.2rem;
    position: absolute;
    top: 17.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .jawaban-benar-uLM {
    height: 2.2rem;
    position: absolute;
    top: 86.4rem;
    text-align: center;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    width: 13.6rem;
    font-size: 1.8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    left: 12.5rem;
  }
  .ellipse-128-1PP {
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
    left: 46.1rem;
    top: 47rem;
    object-fit: contain;
    vertical-align: top;
  }
  .salah-XsX {
    font-weight: 700;
    width: 6.6rem;
    height: 3rem;
    position: absolute;
    left: 12.5rem;
    top: 82.2rem;
    text-align: center;
    font-size: 2.4rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    line-height: 1.2125;
    color: #ff0000;
  }
  .lorem-ipsum-SUh {
    top: 90.4rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    height: 1.7rem;
    left: 12.55rem;
    line-height: 1.2125;
    white-space: nowrap;
    width: 8.9rem;
  }
  .ellipse-129-kEV {
    position: absolute;
    left: 46.1rem;
    top: 51.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.8rem;
    height: 1.7rem;
  }
  .ellipse-130-5Xf {
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
    left: 46.1rem;
    top: 42.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .lorem-ipsum-oyT {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.2rem;
    left: 46.55rem;
    top: 33.1rem;
    white-space: nowrap;
    width: 11.4rem;
    position: absolute;
    line-height: 1.2125;
  }
  .a-lorem-ipsum-b-lorem-ipsum-c-lorem-ipsum-d-lorem-ipsum-X8m {
    position: absolute;
    left: 49.9rem;
    font-weight: 700;
    line-height: 1.2125;
    width: 13.5rem;
    height: 8.8rem;
    top: 37.8rem;
    font-size: 1.8rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .ellipse-131-1Zj {
    vertical-align: top;
    width: 1.8rem;
    height: 1.7rem;
    position: absolute;
    left: 46.1rem;
    top: 38.2rem;
    object-fit: contain;
  }
  .header-wyB {
    display: flex;
    align-items: center;
    width: 179.7rem;
    height: 9.1rem;
    position: absolute;
    left: 8.1rem;
    top: 3rem;

    .logo-4Y1 {
      margin: 0rem 3.3rem 2.6rem 0rem;
      box-sizing: border-box;
      padding: 0.621rem 0rem 0.451rem 0.61rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-clean-1-Ab3 {
        margin-right: 1.1113rem;
        width: 5.2789rem;
        height: 5.4286rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .study-smart-VdK {
        flex-shrink: 0;
        margin-top: 0.33rem;
        max-width: 4.3rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.21;
        color: #000000;
        font-family: Libre Franklin, 'Source Sans Pro';
      }
    }
    .home-QEV {
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 500;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 3.8rem 2.3rem 0rem;
      line-height: 1.21;
    }
    .belajar-hzH {
      margin: 0rem 3.95rem 2.4rem 0rem;
      cursor: pointer;
      align-items: center;
      font-size: 1.8rem;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .latihan-QNu {
      cursor: pointer;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      font-family: Libre Franklin, 'Source Sans Pro';
      margin: 0rem 4.15rem 2.1rem 0rem;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      color: #545ae8;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .chat-uqT {
      line-height: 1.21;
      color: #000000;
      flex-shrink: 0;
      margin: 0rem 4.2rem 2.1rem 0rem;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      display: flex;
      font-weight: 400;
      font-family: Libre Franklin, 'Source Sans Pro';
      white-space: nowrap;
    }
    .blog-txH {
      align-items: center;
      font-size: 1.8rem;
      white-space: nowrap;
      justify-content: center;
      font-weight: 400;
      line-height: 1.21;
      color: #000000;
      font-family: Libre Franklin, 'Source Sans Pro';
      margin: 0rem 110.6rem 2.1rem 0rem;
      cursor: pointer;
      display: flex;
      flex-shrink: 0;
    }
    .sign-out-jxu {
      border-radius: 25.7rem;
      flex-shrink: 0;
      margin-top: 4.3rem;
      width: 13.2rem;
      height: 4.8rem;
      cursor: pointer;
      position: relative;

      .utbk-eKB {
        font-size: 1.8rem;
        font-family: Inter, 'Source Sans Pro';
        left: 3.15rem;
        height: 2.2rem;
        position: absolute;
        top: 1.3rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        width: 7rem;
        white-space: nowrap;
      }
      .group-1000002805-6gy {
        border-radius: 25.7rem;
        width: 13.2rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-140-Czu {
          width: 12rem;
          height: 4.8rem;
          position: absolute;
          left: 0.6rem;
          top: 0;
          background-color: #545ae8;
          border-radius: 25.7rem;
        }
        .log-out-XGV {
          left: 3.7rem;
          text-align: center;
          font-family: Libre Franklin, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          height: 2.2rem;
          position: absolute;
          line-height: 1.21;
          color: #ffffff;
          top: 1.2rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
  }
}
