html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.aritkel-artikel-5Rj {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.aritkel-artikel-5Rj .rectangle-16-REh {
  width: 188rem;
  height: 104rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  background-color: #ffffff;
}
.aritkel-artikel-5Rj .artikel-2-kGy {
  box-sizing: border-box;
  padding-left: 1.3rem;
  width: 522.1rem;
  height: 58.2rem;
  position: absolute;
  left: 2rem;
  top: 49.8rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd {
  margin-right: 20.4rem;
  width: 69.8rem;
  height: 66.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd .auto-group-zdz3-BNH {
  width: 100%;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd .auto-group-zdz3-BNH .rectangle-43-jub {
  width: 69.8rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd .auto-group-kbvm-sku {
  box-sizing: border-box;
  padding: 5.1rem 5.7rem 12.4rem 4rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd .auto-group-kbvm-sku .satuan-pendidikan-segera-lakukan-verifikasi-data-siswa-penerima-pip-bS1 {
  margin: 0rem 4.5rem 7.9rem 0rem;
  max-width: 55.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-FUd .auto-group-kbvm-sku .https-newsdetikcom-berita-d-7012623-satuan-pendidikan-segera-lakukan-verifikasi-data-siswa-penerima-pip-TUD {
  margin-left: 1.5rem;
  max-width: 58.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs {
  margin-right: 20.4rem;
  width: 69.8rem;
  height: 66.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs .auto-group-7enf-R3f {
  width: 100%;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs .auto-group-7enf-R3f .rectangle-44-aSM {
  width: 69.8rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs .auto-group-aqww-uDj {
  box-sizing: border-box;
  padding: 5.1rem 5.55rem 12.4rem 4rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs .auto-group-aqww-uDj .menag-yaqut-ajak-nwdi-tingkatkan-kualitas-pendidikan-1Gm {
  margin: 0rem 3.85rem 10.3rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-gbs .auto-group-aqww-uDj .https-newsdetikcom-berita-d-7008491-menag-yaqut-ajak-nwdi-tingkatkan-kualitas-pendidikan-6Z7 {
  margin-left: 1.35rem;
  max-width: 58.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV {
  margin-right: 6.9rem;
  width: 69.8rem;
  height: 66.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV .auto-group-wfxf-ej3 {
  width: 100%;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV .auto-group-wfxf-ej3 .rectangle-45-p7j {
  width: 69.8rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV .auto-group-udjh-Lrm {
  box-sizing: border-box;
  padding: 5.1rem 4.05rem 12.4rem 3.85rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV .auto-group-udjh-Lrm .pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratisbaca-artikel-detiknews-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-GEd {
  margin: 0rem 6.9rem 3.1rem 0rem;
  max-width: 54.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .group-1000002634-iaV .auto-group-udjh-Lrm .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-hqj {
  max-width: 61.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X {
  width: 282.35rem;
  height: 66.8rem;
  position: relative;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s {
  width: 96.8rem;
  height: 66.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s .rectangle-34-8Jm {
  width: 69.8rem;
  height: 66.8rem;
  position: absolute;
  left: 13.5rem;
  top: 0;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s .https-wwwdetikcom-edu-detikpedia-d-7004394-kenapa-saat-sd-kita-jauh-lebih-pintar-daripada-saat-smp-sma-ini-kata-ahli-qys {
  width: 96.8rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 50.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s .rectangle-35-gjb {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 13.5rem;
  top: 0;
  background-color: #e5e5e5;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s .rectangle-46-oJR {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 13.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-Q7s .satuan-pendidikan-segera-lakukan-verifikasi-data-siswa-penerima-pip-vdw {
  width: 70.1rem;
  height: 2.5rem;
  position: absolute;
  left: 17.5rem;
  top: 37.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 {
  width: 88.4rem;
  height: 66.8rem;
  position: absolute;
  left: 94.4rem;
  top: 0;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 .rectangle-34-iph {
  width: 69.8rem;
  height: 66.8rem;
  position: absolute;
  left: 9.3rem;
  top: 0;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 .https-wwwdetikcom-hikmah-khazanah-d-7004398-menag-minta-madrasah-gagah-hadapi-perkembangan-zaman-3c5 {
  width: 88.4rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 50.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 .rectangle-35-6qF {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 9.3rem;
  top: 0;
  background-color: #e5e5e5;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 .rectangle-47-dqB {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 9.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002634-bk5 .menag-minta-madrasah-gagah-hadapi-perkembangan-zaman-NGy {
  width: 61.1rem;
  height: 2.5rem;
  position: absolute;
  left: 13.3rem;
  top: 37.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX {
  width: 107.1rem;
  height: 66.8rem;
  position: absolute;
  left: 175.25rem;
  top: 0;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f {
  width: 100%;
  height: 100%;
  position: relative;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f .rectangle-34-ffP {
  width: 69.8rem;
  height: 66.8rem;
  position: absolute;
  left: 18.65rem;
  top: 0;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-C9X {
  width: 107.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 50.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f .rectangle-35-TbF {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 18.65rem;
  top: 0;
  background-color: #e5e5e5;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f .rectangle-48-bBf {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 18.65rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.aritkel-artikel-5Rj .artikel-2-kGy .auto-group-fxgo-t9X .group-1000002752-bfX .group-1000002634-89f .pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-KdT {
  width: 78.6rem;
  height: 2.5rem;
  position: absolute;
  left: 22.65rem;
  top: 37.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .header-NLq {
  width: 179.7rem;
  height: 9.1rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.aritkel-artikel-5Rj .header-NLq .logo-Uem {
  margin: 0rem 3.3rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .logo-Uem .logo-clean-1-z7K {
  margin-right: 1.1113rem;
  width: 5.2789rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .logo-Uem .study-smart-uk5 {
  margin-top: 0.33rem;
  max-width: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .home-RiR {
  margin: 0rem 3.8rem 2.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .belajar-wRs {
  margin: 0rem 3.95rem 2.4rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .latihan-Evm {
  margin: 0rem 4.15rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .chat-AJd {
  margin: 0rem 4.2rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .blog-g25 {
  margin: 0rem 110.6rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #545ae8;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .sign-out-CFK {
  margin-top: 4.3rem;
  width: 13.2rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.aritkel-artikel-5Rj .header-NLq .sign-out-CFK .utbk-vx1 {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 3.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .header-NLq .sign-out-CFK .group-1000002805-pXb {
  width: 13.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25.7rem;
}
.aritkel-artikel-5Rj .header-NLq .sign-out-CFK .group-1000002805-pXb .rectangle-140-MGd {
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: #545ae8;
  border-radius: 25.7rem;
}
.aritkel-artikel-5Rj .header-NLq .sign-out-CFK .group-1000002805-pXb .log-out-4gq {
  width: 5.8rem;
  height: 2.2rem;
  position: absolute;
  left: 3.7rem;
  top: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.aritkel-artikel-5Rj .rectangle-43-iFb {
  width: 188rem;
  height: 27rem;
  position: absolute;
  left: 2rem;
  top: 16.8rem;
  object-fit: cover;
  vertical-align: top;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Background color of the dropdown */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: black; /* Text color of the dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

/* Show the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Remove underline and maintain text color and size for navigation links */
a.home-KHj ,
.belajar-wRs a,
.latihan-Evm a,
.chat-AJd a,
.blog-g25 a,
a.log-out-4gq {
  text-decoration: none;
  color: black;
  font-size: 62,5%;
} 