
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.homelogged-in2-tMP {
  width: 100%;
  height: 276.8rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2rem;
}
.homelogged-in2-tMP .auto-group-ruhm-1B7 {
  width: 192rem;
  height: 91.7rem;
  position: absolute;
  left: 0;
  top: 18rem;
}
.homelogged-in2-tMP .auto-group-ruhm-1B7 .rectangle-168-hJq {
  width: 192rem;
  height: 84.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-168-bg-Bv9.png');
}
.homelogged-in2-tMP .auto-group-ruhm-1B7 .take-student-experience-to-the-next-level-ACR {
  width: 72.2rem;
  height: 12.4rem;
  position: absolute;
  left: 59.85rem;
  top: 24.5rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.1071428571;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-ruhm-1B7 .beragam-fitur-dan-konten-yang-dirancang-untuk-memaksimalkan-kemampuan-belajar-pengguna-dan-meningkatkan-peluang-sukses-mereka-dalam-ujian-masuk-perguruan-tinggi-zBT {
  width: 82.9rem;
  height: 5.2rem;
  position: absolute;
  left: 54.5rem;
  top: 39.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-vpjr-cyX {
  box-sizing: border-box;
  padding: 7.6rem 31.8rem 10.3rem 31.8rem;
  width: 192rem;
  height: 18rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 9.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}
.homelogged-in2-tMP .auto-group-vpjr-cyX .line-44-qLV {
  width: 34.2rem;
  height: 0.1rem;
  background-color: #000000;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 {
  box-sizing: border-box;
  padding: 7.9rem 0rem 0rem 0.1rem;
  width: 192rem;
  height: 114.8rem;
  position: absolute;
  left: 0;
  top: 162rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 {
  margin: 0rem 7.4rem 7.9rem 7.4rem;
  width: calc(100% - 14.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo {
  margin-bottom: 1rem;
  width: 100%;
  height: 28.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT {
  margin-right: 1.886rem;
  width: 87.5127rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .rectangle-31-121 {
  width: 87.5127rem;
  height: 28.0959rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .user-profile-udB {
  width: 87.5127rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 20.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #545ae8;
  border-radius: 0 0 1.5rem 1.5rem;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .ahmad-sutego-stei-institut-teknologi-bandung-D85 {
  width: 28rem;
  height: 5.1rem;
  position: absolute;
  left: 4.2313rem;
  top: 21.774rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .ahmad-sutego-stei-institut-teknologi-bandung-D85 .ahmad-sutego-stei-institut-teknologi-bandung-D85-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .ahmad-sutego-stei-institut-teknologi-bandung-D85 .ahmad-sutego-stei-institut-teknologi-bandung-D85-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-1-4sT .materi-pembelajaran-yang-disajikan-dengan-baik-dan-bantuan-konseling-yang-tersedia-membantu-saya-mengatasi-setiap-tantangan-saya-sangat-puas-dengan-hasilnya-oVb {
  width: 68.6rem;
  height: 8.8rem;
  position: absolute;
  left: 4.6209rem;
  top: 5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo {
  box-sizing: border-box;
  padding-top: 4.3855rem;
  width: 87.7013rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo .study-smart-telah-membuktikan-nilainya-dalam-perjalanan-saya-masuk-ptn-materi-pembelajaran-yang-disajikan-dengan-baik-dan-bantuan-konseling-yang-tersedia-membantu-saya-mengatasi-setiap-tantangan-AzM {
  margin: 0rem 1.851rem 4.115rem 0rem;
  max-width: 73.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo .auto-group-5kbd-Cg9 {
  box-sizing: border-box;
  padding: 1.74rem 4.241rem 1.26rem 4.241rem;
  width: 100%;
  border: solid 0.1rem #000000;
  background-color: #545ae8;
  border-radius: 0 0 1.5rem 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo .auto-group-5kbd-Cg9 .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-8ph {
  max-width: 35.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo .auto-group-5kbd-Cg9 .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-8ph .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-8ph-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-adh5-8yo .testi-alumni-3-Eqo .auto-group-5kbd-Cg9 .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-8ph .jafri-maulana-ilmu-komunikasi-universitas-gadjah-mada-8ph-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw {
  margin: 0rem 1.886rem 0.2rem 0rem;
  box-sizing: border-box;
  padding-top: 4.7966rem;
  width: 87.5127rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw .materi-yang-berkualitas-dan-simulasi-ujian-yang-realistis-benar-benar-mempersiapkan-saya-dengan-baik-terima-kasih-study-smart-Qp9 {
  margin: 0rem 7.357rem 5.903rem 0rem;
  max-width: 69rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw .auto-group-agom-fzy {
  box-sizing: border-box;
  padding: 2.14rem 3.948rem 1.56rem 3.948rem;
  width: 100%;
  border: solid 0.1rem #000000;
  background-color: #545ae8;
  border-radius: 0 0 1.5rem 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw .auto-group-agom-fzy .salma-nur-prima-teknik-informatika-universitas-padjadjaran-btd {
  max-width: 36.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw .auto-group-agom-fzy .salma-nur-prima-teknik-informatika-universitas-padjadjaran-btd .salma-nur-prima-teknik-informatika-universitas-padjadjaran-btd-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-2-hPw .auto-group-agom-fzy .salma-nur-prima-teknik-informatika-universitas-padjadjaran-btd .salma-nur-prima-teknik-informatika-universitas-padjadjaran-btd-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH {
  margin-top: 0.2rem;
  box-sizing: border-box;
  padding-top: 4.4rem;
  width: 87.7013rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH .materi-berkualitas-try-out-yang-mirip-dengan-ujian-sebenarnya-pemantauan-kemajuan-dan-dukungan-konseling-telah-membuat-persiapan-saya-lebih-efisien-dan-efektif-fleksibilitas-belajar-juga-sangat-membantu-bff {
  margin: 0rem 4.919rem 3.2rem 0rem;
  max-width: 70.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH .auto-group-my3y-cKs {
  box-sizing: border-box;
  padding: 2.177rem 4.15rem 1.723rem 4.15rem;
  width: 100%;
  border: solid 0.1rem #000000;
  background-color: #545ae8;
  border-radius: 0 0 1.5rem 1.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH .auto-group-my3y-cKs .bambang-sugeni-ilmu-politik-universitas-indonesia-wN9 {
  max-width: 28.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH .auto-group-my3y-cKs .bambang-sugeni-ilmu-politik-universitas-indonesia-wN9 .bambang-sugeni-ilmu-politik-universitas-indonesia-wN9-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .testimoni-alumni-py7 .auto-group-t3rd-LpH .testi-alumni-4-GtH .auto-group-my3y-cKs .bambang-sugeni-ilmu-politik-universitas-indonesia-wN9 .bambang-sugeni-ilmu-politik-universitas-indonesia-wN9-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh {
  margin-bottom: 21rem;
  box-sizing: border-box;
  padding-top: 3.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #545ae8;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 {
  margin: 0rem 14.6rem 5rem 14.7rem;
  width: calc(100% - 29.3rem);
  height: 27.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X {
  width: 39.4rem;
  height: 100%;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-1000002829-vmo {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-1000002829-vmo .logo-gFB {
  margin: 0rem 19.3rem 0.9rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.3rem;
  width: calc(100% - 19.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-1000002829-vmo .logo-gFB .auto-group-apph-Bhj {
  margin-right: 0.8rem;
  width: 5.6rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-1000002829-vmo .logo-gFB .study-smart-v9X {
  margin-top: 0.23rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-1000002829-vmo .dengan-kombinasi-konten-berkualitas-tinggi-alat-pengukuran-kemajuan-dan-dukungan-konseling-platform-ini-merupakan-mitra-belajar-yang-kuat-bagi-mereka-yang-bercita-cita-masuk-perguruan-tinggi-dengan-sukses-dpd {
  margin-left: 0.3rem;
  max-width: 39.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-477-sys {
  margin-left: 0.3rem;
  display: flex;
  align-items: center;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-477-sys .vector-2bs {
  margin-right: 3.3421rem;
  width: 1.5579rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-477-sys .x-twitter-NQq {
  margin: 0rem 3.3rem 0.101rem 0rem;
  width: 2.8rem;
  height: 2.8985rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .group-1000002830-B3X .group-477-sys .instagram-5-1-hCD {
  margin-bottom: 0.0021rem;
  width: 2.8051rem;
  height: 2.7979rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 {
  box-sizing: border-box;
  padding: 2rem 0rem 2rem 12.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf {
  margin-right: 12.4rem;
  width: 13.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .my-account-Vtm {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .group-1000002821-2th {
  width: 100%;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .group-1000002821-2th .sign-in-yow {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .group-1000002821-2th .monitor-progress-vUH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .group-1000002821-2th .compare-success-rsj {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002822-MXf .group-1000002821-2th .my-topics-1Eq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM {
  margin-right: 12.4rem;
  width: 16.2rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .about-ss-g65 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .group-1000002823-pCH {
  width: 100%;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .group-1000002823-pCH .company-information-YPB {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .group-1000002823-pCH .resources-5P7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .group-1000002823-pCH .our-success-cP3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002824-8aM .group-1000002823-pCH .meet-the-experts-xC1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002825-VBw {
  margin-right: 12.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002825-VBw .support-dZ3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002825-VBw .contact-us-ZxV {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq {
  width: 35.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .auto-group-opvm-sCV {
  box-sizing: border-box;
  padding-bottom: 3.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .auto-group-opvm-sCV .artikel-RE1 {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .auto-group-opvm-sCV .dapatkah-informasi-terbaru-terkait-utbk-dan-beasiswa-Zb7 {
  max-width: 20.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .group-1000002827-5ZT {
  box-sizing: border-box;
  padding: 0.4rem 0.6rem 0.4rem 2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 7.5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .group-1000002827-5ZT .email-address-zwK {
  margin: 0rem 8.6rem 0.2rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #a7a7a7;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-nbwh-UQ1 .auto-group-e5rt-Re1 .group-1000002828-Wcq .group-1000002827-5ZT .group-1000002826-Wuf {
  width: 13.9rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.6rem 1.7rem rgba(84, 90, 232, 0.25);
  background-color: #545ae8;
  border-radius: 28.2rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-pmyf-jnR {
  width: 100%;
  height: 5rem;
  position: relative;
  flex-shrink: 0;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-pmyf-jnR .created-with-love-by-thecreationdesign-gSm {
  width: 29.4rem;
  height: 2.6rem;
  position: absolute;
  left: 147.7rem;
  top: 1.2rem;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-pmyf-jnR .rectangle-166-mUD {
  opacity: 0.3;
  width: 191.9rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .group-1000002831-LYh .auto-group-pmyf-jnR .copyright-all-rights-researved-6Fb {
  width: 30.3rem;
  height: 2.6rem;
  position: absolute;
  left: 15rem;
  top: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.homelogged-in2-tMP .auto-group-rbcf-LY9 .group-1000002839-bLD .rectangle-222-MBX {
  margin-right: 10.2rem;
  width: 35.5rem;
  height: 2.8rem;
  background-color: #878bef;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X {
  box-sizing: border-box;
  padding: 5rem 18.6rem 5rem 15rem;
  width: 192rem;
  height: 51.7rem;
  position: absolute;
  left: 0;
  top: 110.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #545ae8;
}
.homelogged-in2-tMP .group-1000002832-57X .how-it-works-ZYV {
  margin: 0rem 0rem 5rem 3.5rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM {
  margin: 0rem 25.4rem 2rem 0rem;
  height: 10rem;
  display: flex;
  column-gap: 31rem;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002833-bEH {
  box-sizing: border-box;
  padding: 3.4rem 3.6rem;
  height: 100%;
  border: solid 0.05rem #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002833-bEH .add-user-1-traced-jbP {
  width: 2.8rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002834-rZX {
  box-sizing: border-box;
  padding: 3.6rem 3.4rem 3.3rem 3.3rem;
  height: 100%;
  border: solid 0.05rem #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002834-rZX .monitor-1-traced-nTB {
  width: 3.3rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002835-ha9 {
  box-sizing: border-box;
  padding: 3.4rem 3.9rem 3.3rem 3.9rem;
  height: 100%;
  border: solid 0.05rem #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002835-ha9 .question-2-traced-qAZ {
  width: 2.2rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002836-ZMT {
  box-sizing: border-box;
  padding: 3.3rem 3.7rem 3.4rem 3.7rem;
  height: 100%;
  border: solid 0.05rem #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-upmu-UvM .group-1000002836-ZMT .notepad-1-traced-tuX {
  width: 2.6rem;
  height: 3.3rem;
  object-fit: contain;
  vertical-align: top;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-squo-RPf {
  margin: 0rem 23.4rem 0.6rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-squo-RPf .sign-up-MYD {
  margin-right: 32.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-squo-RPf .get-access-tHF {
  margin-right: 28.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-squo-RPf .practice-questions-cU9 {
  margin-right: 19.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-squo-RPf .get-result-Ych {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-kjq5-HaH {
  margin-bottom: 3.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-kjq5-HaH .montes-vivamus-curae-quisque-et-primis-pretium-nullam-congue-dis-convallis-eget-ipsum-cubilia-ante-2Xs {
  margin-right: 6.5rem;
  max-width: 34.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-kjq5-HaH .access-to-question-bank-of-over-2000-questions-7pD {
  margin: 0.2rem 9.2rem 0rem 0rem;
  max-width: 31.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-kjq5-HaH .prepare-for-the-mla-exam-in-multiple-modes-of-revision-and-track-your-progress-with-your-personalised-dashboard-oww {
  margin-right: 1.6rem;
  max-width: 39.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .auto-group-kjq5-HaH .compare-your-results-with-your-peers-with-advanced-analytics-hXX {
  max-width: 35.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4444444444;
  color: #d9d9d9;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .group-1000002832-57X .group-1000002806-DEy {
  margin: 0rem 68.3rem 0rem 71.8rem;
  width: calc(100% - 140.1rem);
  height: 5.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0.6rem 1.7rem rgba(84, 90, 232, 0.25);
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .rectangle-247-oU5 {
  width: 192rem;
  height: 18.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.homelogged-in2-tMP .header-929 {
  width: 179.7rem;
  height: 9.1rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.homelogged-in2-tMP .header-929 .logo-TYd {
  margin: 0rem 3.3rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .logo-TYd .logo-clean-1-ZrZ {
  margin-right: 1.1113rem;
  width: 5.2789rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .logo-TYd .study-smart-JZF {
  margin-top: 0.33rem;
  max-width: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .home-EC1 {
  margin: 0rem 3.8rem 2.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #545ae8;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .belajar-945 {
  margin: 0rem 3.95rem 2.4rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .latihan-Sos {
  margin: 0rem 4.05rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .chat-wkd {
  margin: 0rem 4.1rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .blog-3of {
  margin: 0rem 110.8rem 2.3rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .sign-out-A7b {
  margin-top: 4.3rem;
  width: 13.2rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.homelogged-in2-tMP .header-929 .sign-out-A7b .utbk-U8H {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 3.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.homelogged-in2-tMP .header-929 .sign-out-A7b .group-1000002805-yKw {
  width: 13.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25.7rem;
}
.homelogged-in2-tMP .header-929 .sign-out-A7b .group-1000002805-yKw .rectangle-140-hWq {
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: #545ae8;
  border-radius: 25.7rem;
}
.homelogged-in2-tMP .header-929 .sign-out-A7b .group-1000002805-yKw .log-out-2p1 {
  width: 5.8rem;
  height: 2.2rem;
  position: absolute;
  left: 3.7rem;
  top: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Background color of the dropdown */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: black; /* Text color of the dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

/* Show the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Remove underline and maintain text color and size for navigation links */
a.home-RiR ,
.belajar-wRs a,
.latihan-Evm a,
.chat-AJd a,
.blog-g25 a,
a.log-out-WqX {
  text-decoration: none;
  color: black;
  font-size: 62,5%;
}