
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.info-utbk-dSq {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.3rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .rectangle-16-9vy {
  width: 188rem;
  height: 104rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 {
  width: 430.6rem;
  height: 58.2rem;
  position: absolute;
  left: 2rem;
  top: 49.8rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 {
  box-sizing: border-box;
  padding: 0.8rem 4.5rem 0rem 0rem;
  width: 254.7rem;
  height: 100%;
  display: flex;
  column-gap: 20.4rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj {
  margin-top: 0.8rem;
  width: 69.8rem;
  height: 66.8rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj .group-1000002634-dzZ {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj .group-1000002634-dzZ .rectangle-245-mqs {
  width: 69.8rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj .group-1000002634-dzZ .auto-group-anwf-iFK {
  box-sizing: border-box;
  padding: 5.5rem 4.3rem 12.4rem 4rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj .group-1000002634-dzZ .auto-group-anwf-iFK .inilah-amadeo-peraih-nilai-utbk-tertinggi-2023-yang-sempat-gagal-snbp-Dhs {
  margin: 0rem 0.6rem 7.5rem 0rem;
  max-width: 60.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002748-6jj .group-1000002634-dzZ .auto-group-anwf-iFK .https-wwwdetikcom-edu-edutainment-d-6868356-inilah-amadeo-peraih-nilai-utbk-tertinggi-2023-yang-sempat-gagal-snbp-Uth {
  margin-left: 0.1rem;
  max-width: 61.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 {
  margin-top: 0.8rem;
  width: 69.8rem;
  height: 66.8rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y .auto-group-x3wy-BRj {
  width: 100%;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y .auto-group-x3wy-BRj .rectangle-50-wA1 {
  width: 69.8rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y .auto-group-1qxd-Gi5 {
  box-sizing: border-box;
  padding: 5.1rem 4.2rem 12.4rem 4rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y .auto-group-1qxd-Gi5 .jalur-mandiri-nilai-utbk-unja-masih-dibuka-bisa-dari-snbt-smm-ptn-barat-oCD {
  margin: 0rem 2.4rem 7.9rem 0rem;
  max-width: 59.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002749-VJ1 .group-1000002634-q6y .auto-group-1qxd-Gi5 .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-H7P {
  max-width: 61.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT {
  width: 69.8rem;
  height: 66.8rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso .auto-group-bnmq-yeR {
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 100%;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso .auto-group-bnmq-yeR .rectangle-51-KyB {
  width: 69.6rem;
  height: 32.6rem;
  object-fit: cover;
  vertical-align: top;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso .auto-group-t8gb-f1T {
  box-sizing: border-box;
  padding: 5.1rem 4.55rem 12.4rem 4rem;
  width: 100%;
  height: 34.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso .auto-group-t8gb-f1T .heboh-ratusan-calon-mahasiswa-ub-diberitakan-mundur-ternyata-karena-hal-ini-NgZ {
  margin: 0rem 4.75rem 7.9rem 0rem;
  max-width: 56.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-lhvs-bY5 .group-1000002750-VDT .group-1000002634-Rso .auto-group-t8gb-f1T .https-wwwdetikcom-edu-perguruan-tinggi-d-6842420-heboh-ratusan-calon-mahasiswa-ub-diberitakan-mundur-ternyata-karena-hal-ini-FkM {
  margin-left: 0.55rem;
  max-width: 60.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT {
  width: 185.55rem;
  height: 68.4rem;
  position: relative;
  flex-shrink: 0;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw {
  width: 101.6rem;
  height: 66.8rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR {
  width: 100%;
  height: 100%;
  position: relative;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR .rectangle-34-HKf {
  width: 69.8rem;
  height: 66.8rem;
  position: absolute;
  left: 15.9rem;
  top: 0;
  border: solid 0 #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR .https-wwwdetikcom-edu-perguruan-tinggi-d-6817912-snbt-adalah-seleksi-nasional-berbasis-tes-simak-tujuan-dan-cara-daftarnya-ooo {
  width: 101.6rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 50.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR .rectangle-35-dnq {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 15.9rem;
  top: 0;
  background-color: #e5e5e5;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR .rectangle-52-NkR {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 15.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002751-1sw .group-1000002634-LQR .snbt-adalah-seleksi-nasional-berbasis-tes-simak-tujuan-dan-cara-daftarnya-uVT {
  width: 77.2rem;
  height: 2.5rem;
  position: absolute;
  left: 19.9rem;
  top: 37.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub {
  width: 89.1rem;
  height: 66.8rem;
  position: absolute;
  left: 96.45rem;
  top: 1.6rem;
  box-shadow: 0.6rem 0.6rem 1rem rgba(0, 0, 0, 0.25);
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q {
  width: 100%;
  height: 100%;
  position: relative;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q .rectangle-34-Rs7 {
  width: 69.8rem;
  height: 66.8rem;
  position: absolute;
  left: 9.65rem;
  top: 0;
  border: solid 0 #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q .https-newsdetikcom-berita-d-7005216-pemkot-semarang-genjot-pemerataan-pendidikan-lewat-sekolah-swasta-gratis-N1f {
  width: 89.1rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 50.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  text-transform: capitalize;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q .rectangle-35-Dny {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 9.65rem;
  top: 0;
  background-color: #e5e5e5;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q .rectangle-54-ACR {
  width: 69.8rem;
  height: 32.6rem;
  position: absolute;
  left: 9.65rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.info-utbk-dSq .info-utbk-3-gR7 .auto-group-ass9-GfT .group-1000002752-9ub .group-1000002634-g8q .beasiswa-s1-dari-lps-ada-bantuan-rp-15-juta-per-bulan-VkV {
  width: 56.1rem;
  height: 2.5rem;
  position: absolute;
  left: 13.65rem;
  top: 37.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .header-MXo {
  width: 179.7rem;
  height: 9.1rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.info-utbk-dSq .header-MXo .logo-g4H {
  margin: 0rem 3.3rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .logo-g4H .logo-clean-1-Bmj {
  margin-right: 1.1113rem;
  width: 5.2789rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .logo-g4H .study-smart-7vH {
  margin-top: 0.33rem;
  max-width: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .home-2XT {
  margin: 0rem 3.8rem 2.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .belajar-Lo3 {
  margin: 0rem 3.95rem 2.4rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .latihan-Ff7 {
  margin: 0rem 4.15rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .chat-krm {
  margin: 0rem 4.2rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .blog-sgV {
  margin: 0rem 110.6rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #545ae8;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .sign-out-o4M {
  margin-top: 4.3rem;
  width: 13.2rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.info-utbk-dSq .header-MXo .sign-out-o4M .utbk-vem {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 3.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .header-MXo .sign-out-o4M .group-1000002805-dp5 {
  width: 13.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25.7rem;
}
.info-utbk-dSq .header-MXo .sign-out-o4M .group-1000002805-dp5 .rectangle-140-B4u {
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: #545ae8;
  border-radius: 25.7rem;
}
.info-utbk-dSq .header-MXo .sign-out-o4M .group-1000002805-dp5 .log-out-gGZ {
  width: 5.8rem;
  height: 2.2rem;
  position: absolute;
  left: 3.7rem;
  top: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.info-utbk-dSq .rectangle-55-MtV {
  width: 188rem;
  height: 27.5rem;
  position: absolute;
  left: 2rem;
  top: 16.8rem;
  object-fit: cover;
  vertical-align: top;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Background color of the dropdown */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: black; /* Text color of the dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

/* Show the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Remove underline and maintain text color and size for navigation links */
a.home-RiR ,
.belajar-wRs a,
.latihan-Evm a,
.chat-AJd a,
.blog-g25 a,
a.log-out-gGZ {
  text-decoration: none;
  color: black;
  font-size: 62,5%;
}