
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.live-class--gbK {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.live-class--gbK .frame-20-oA9 {
  width: 147.2rem;
  height: 137.3186rem;
  position: absolute;
  left: 19.3rem;
  top: 18.8rem;
  overflow: hidden;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 {
  margin: 0rem 0rem 2.597rem 0.4rem;
  height: 43.8748rem;
  display: flex;
  align-items: center;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh {
  margin-right: 2.3626rem;
  width: 46.8687rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh .rectangle-35-Gxq {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh .auto-group-bnjd-oSy {
  box-sizing: border-box;
  padding: 3.227rem 2.5rem 3.775rem 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh .auto-group-bnjd-oSy .membedah-soal-snbt-2022-8EM {
  margin: 0rem 0rem 0.7rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh .auto-group-bnjd-oSy .dinda-kemampuan-penalaran-umum-pN5 {
  margin: 0rem 0rem 2.1rem 0.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002634-BAh .auto-group-bnjd-oSy .nov-10-30-1-jam-30-menit-HmT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 {
  margin-right: 3.8313rem;
  width: 46.8688rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 .rectangle-34-HQ5 {
  width: 46.8687rem;
  height: 43.8748rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 .nov-10-30-1-jam-30-menit-pQ1 {
  width: 23.7rem;
  height: 2rem;
  position: absolute;
  left: 2.8688rem;
  top: 38.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 .rectangle-35-6sK {
  width: 46.1rem;
  height: 27.9rem;
  position: absolute;
  left: 0.7688rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 .membedah-soal-snbt-2023-Rub {
  width: 27rem;
  height: 2.5rem;
  position: absolute;
  left: 2.8688rem;
  top: 31.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002635-wr1 .imron-pengetahuan-dan-pemahaman-umum-Xxd {
  width: 30.2rem;
  height: 1.7rem;
  position: absolute;
  left: 2.8688rem;
  top: 34.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ {
  width: 46.8687rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ .rectangle-35-ZeR {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ .auto-group-su7h-uTP {
  box-sizing: border-box;
  padding: 3.227rem 2.169rem 3.775rem 2.169rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ .auto-group-su7h-uTP .perkenalan-metode-bayes-qM3 {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ .auto-group-su7h-uTP .idham-matematika-xwT {
  margin-bottom: 2.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-kkmm-uU5 .group-1000002636-DaZ .auto-group-su7h-uTP .nov-09-30-1-jam-30-menit-625 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw {
  margin-bottom: 3.0971rem;
  height: 43.8748rem;
  display: flex;
  align-items: center;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh {
  margin-right: 3.0972rem;
  width: 46.8687rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh .rectangle-35-3Ld {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh .auto-group-7eom-BSq {
  box-sizing: border-box;
  padding: 2.855rem 3rem 4.147rem 3rem;
  width: 100%;
  height: 16.0014rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh .auto-group-7eom-BSq .simulasi-utbk-uNq {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh .auto-group-7eom-BSq .dinda-pengetahuan-dan-pemahaman-umum-d3w {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002634-WLh .auto-group-7eom-BSq .nov-7-30-1-jam-30-menit-w4d {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs {
  margin-right: 3.0969rem;
  width: 46.8687rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs .rectangle-35-NQq {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs .auto-group-tfd5-WG9 {
  box-sizing: border-box;
  padding: 2.855rem 2.134rem 4.147rem 2.134rem;
  width: 100%;
  height: 16.0014rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs .auto-group-tfd5-WG9 .pembahasan-akutansi-q3X {
  margin: 0rem 0rem 1.1rem 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs .auto-group-tfd5-WG9 .amel-ekonomi-M1s {
  margin: 0rem 0rem 1.7rem 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002635-2bs .auto-group-tfd5-WG9 .nov-18-30-1-jam-30-menit-FN9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 {
  width: 46.8687rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 .rectangle-35-tAD {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 .auto-group-a3ej-pZf {
  box-sizing: border-box;
  padding: 2.855rem 2.569rem 4.147rem 2.569rem;
  width: 100%;
  height: 16.0014rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 .auto-group-a3ej-pZf .geografi-sekitar-jawa-YVf {
  margin-bottom: 1.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 .auto-group-a3ej-pZf .rona-geografi-UeD {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .auto-group-cadr-ahw .group-1000002636-k41 .auto-group-a3ej-pZf .nov-15-00-1-jam-30-menit-CaD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy {
  width: 46.8687rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy .rectangle-35-FHb {
  width: 46.8687rem;
  height: 27.8734rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy .auto-group-rv8b-zW5 {
  box-sizing: border-box;
  padding: 2.883rem 2.5rem 4.219rem 2.5rem;
  width: 100%;
  height: 16.0014rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy .auto-group-rv8b-zW5 .materi-matrix-4x4-igy {
  margin: 0rem 0rem 1.1rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.21;
  color: #221e1e;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy .auto-group-rv8b-zW5 .idham-matematika-2xZ {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .frame-20-oA9 .group-1000002634-hWy .auto-group-rv8b-zW5 .nov-12-30-1-jam-30-menit-MV3 {
  margin-left: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.21;
  text-transform: capitalize;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .rectangle-247-EYq {
  width: 192rem;
  height: 18.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.live-class--gbK .header-a6u {
  width: 179.7rem;
  height: 9.1rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.live-class--gbK .header-a6u .logo-HX7 {
  margin: 0rem 3.3rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .logo-HX7 .logo-clean-1-oEZ {
  margin-right: 1.1113rem;
  width: 5.2789rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .logo-HX7 .study-smart-XAZ {
  margin-top: 0.33rem;
  max-width: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .home-qS9 {
  margin: 0rem 3.8rem 2.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .belajar-ikq {
  margin: 0rem 3.95rem 2.4rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .latihan-EDP {
  margin: 0rem 4.15rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #545ae8;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .chat-kBj {
  margin: 0rem 4.2rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .blog-FuB {
  margin: 0rem 110.6rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .sign-out-Niu {
  margin-top: 4.3rem;
  width: 13.2rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.live-class--gbK .header-a6u .sign-out-Niu .utbk-7Rb {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 3.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.live-class--gbK .header-a6u .sign-out-Niu .group-1000002805-RBP {
  width: 13.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25.7rem;
}
.live-class--gbK .header-a6u .sign-out-Niu .group-1000002805-RBP .rectangle-140-Maq {
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: #545ae8;
  border-radius: 25.7rem;
}
.live-class--gbK .header-a6u .sign-out-Niu .group-1000002805-RBP .log-out-UfT {
  width: 5.8rem;
  height: 2.2rem;
  position: absolute;
  left: 3.7rem;
  top: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Background color of the dropdown */
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: black; /* Text color of the dropdown links */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

/* Show the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Remove underline and maintain text color and size for navigation links */
a.home-RiR ,
.belajar-wRs a,
.latihan-Evm a,
.chat-AJd a,
.blog-g25 a,
a.log-out-UfT {
  text-decoration: none;
  color: black;
  font-size: 62,5%;
}