
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.materi-utbk-view-9td {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #fffdfd;
}
.materi-utbk-view-9td .auto-group-epwp-tbK {
  box-sizing: border-box;
  padding: 2.7rem 2.8rem 2.7rem 2.9rem;
  width: 31rem;
  height: 88rem;
  position: absolute;
  left: 2rem;
  top: 18rem;
  row-gap: 2.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #e3e7ff;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-trm5-kdX {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 2.6rem 4.15rem 2.5rem 4.35rem;
  width: 25rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-220-oZs.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-trm5-kdX .kemampuan-penalaran-umum-rwT {
  max-width: 16.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #221e1e;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-hkhz-Z5B {
  margin: 0rem 0.1rem 0rem 0.2rem;
  box-sizing: border-box;
  padding: 2.4rem 3.9rem 3.2rem 4rem;
  width: calc(100% - 0.3rem);
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-221-g9f.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-hkhz-Z5B .pengetahuan-dan-pemahaman-umum-41w {
  max-width: 17.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-4t8s-kfT {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 2.4rem 1.85rem 3.2rem 1.95rem;
  width: 25rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-217.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-4t8s-kfT .kemampuan-memahami-bacaan-dan-menulis-sEH {
  max-width: 21.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-r1zb-y2R {
  margin: 0rem 0.1rem 0rem 0.2rem;
  width: calc(100% - 0.3rem);
  height: 10rem;
  position: relative;
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-r1zb-y2R .pilih-materi-fvq {
  width: 5.7rem;
  height: 4.4rem;
  position: absolute;
  left: 9.75rem;
  top: 5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-r1zb-y2R .rectangle-218-P69 {
  width: 25rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1.5rem;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-r1zb-y2R .pengetahuan-kuantitatif-v65 {
  width: 11.8rem;
  height: 4.4rem;
  position: absolute;
  left: 6.6rem;
  top: 2.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-194o-cUh {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 2.4rem 4.75rem 3.2rem 4.75rem;
  width: 25rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-219.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-194o-cUh .literasi-dalam-bahasa-indonesia-L9o {
  max-width: 15.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-susm-Rww {
  margin: 0rem 0.1rem 0rem 0.2rem;
  box-sizing: border-box;
  padding: 2.3rem 6.05rem 3.3rem 5.85rem;
  width: calc(100% - 0.3rem);
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-216.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-susm-Rww .literasi-dalam-bahasa-inggris-Xzy {
  max-width: 13.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-jpgj-rGZ {
  margin-left: 0.3rem;
  box-sizing: border-box;
  padding: 2.4rem 7.65rem 3.2rem 6.85rem;
  width: 25rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-210.png');
  flex-shrink: 0;
}
.materi-utbk-view-9td .auto-group-epwp-tbK .auto-group-jpgj-rGZ .penalaran-matematika-X7o {
  max-width: 10.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.materi-utbk-view-9td .auto-group-fefm-a65 {
  box-sizing: border-box;
  padding: 1.3rem 1.6rem 71rem 1.6rem;
  width: 154rem;
  height: 88rem;
  position: absolute;
  left: 36rem;
  top: 18rem;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.materi-utbk-view-9td .auto-group-fefm-a65 .literasi-dalam-bahasa-inggris-understanding-tone-and-underlying-meanings-q21 {
  margin-bottom: 4.7rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-utbk-view-9td .auto-group-fefm-a65 .understanding-tone-and-underlying-meanings-5BF {
  margin-bottom: 3.2rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-utbk-view-9td .auto-group-fefm-a65 .lorem-ipsum-jFo {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-utbk-view-9td .rectangle-247-2Eu {
  width: 192rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.materi-utbk-view-9td .header-mCV {
  width: 179.7rem;
  height: 9.1rem;
  position: absolute;
  left: 8.1rem;
  top: 3rem;
  display: flex;
  align-items: center;
}
.materi-utbk-view-9td .header-mCV .logo-t2D {
  margin: 0rem 3.3rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 0.621rem 0rem 0.451rem 0.61rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .logo-t2D .logo-clean-1-PUm {
  margin-right: 1.1113rem;
  width: 5.2789rem;
  height: 5.4286rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .logo-t2D .study-smart-WJV {
  margin-top: 0.3302rem;
  max-width: 4.3rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .home-21w {
  margin: 0rem 3.8rem 2.3rem 0rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .belajar-84y {
  margin: 0rem 3.95rem 2.4rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #545ae8;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .latihan-dnR {
  margin: 0rem 4.15rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .chat-xJu {
  margin: 0rem 4.2rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .blog-fz1 {
  margin: 0rem 110.6rem 2.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .sign-out-b6y {
  margin-top: 4.3rem;
  width: 13.2rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  border-radius: 25.7rem;
  flex-shrink: 0;
}
.materi-utbk-view-9td .header-mCV .sign-out-b6y .utbk-jDB {
  width: 7rem;
  height: 2.2rem;
  position: absolute;
  left: 3.15rem;
  top: 1.3rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-utbk-view-9td .header-mCV .sign-out-b6y .group-1000002805-Efj {
  width: 13.2rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 25.7rem;
}
.materi-utbk-view-9td .header-mCV .sign-out-b6y .group-1000002805-Efj .rectangle-140-nBT {
  width: 12rem;
  height: 4.8rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  background-color: #545ae8;
  border-radius: 25.7rem;
}
.materi-utbk-view-9td .header-mCV .sign-out-b6y .group-1000002805-Efj .log-out-uWy {
  width: 5.8rem;
  height: 2.2rem;
  position: absolute;
  left: 3.7rem;
  top: 1.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.21;
  color: #ffffff;
  font-family: Libre Franklin, 'Source Sans Pro';
  white-space: nowrap;
}
